html {
	scrollbar-color: #51B592 #E6E6E6;
	scrollbar-width: thin;
}

body {
	margin: 0px;
	padding: 0px;
	font: 12pt sans-serif;
	height: 100%;
	min-width: 350px;
	overflow-x: hidden;
}

::-webkit-scrollbar-button {
	width:5px;
	height:0px
}

::-webkit-scrollbar-track {
	background-color: #E6E6E6
}

::-webkit-scrollbar-thumb {
	background-color: #949088;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #7A7770;
}

::-webkit-resizer{
	width: 7px;
	height: 0px
}

::-webkit-scrollbar{
	width: 7px;
}

header {
	height: 50px;
	width: 100%;
	min-width: 310px;
	background-color: #949088;
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid #61490D;
	box-sizing: border-box;
}

footer {
	height: 50px;
	width: 100%;
	background-color: #949088;
	margin-top: 50px;
	border-top: 1px solid #61490D;
	box-sizing: border-box;
}

.content_wrapper {
	position: relative;
	width: 100%;
    top: 50px;
    min-height: calc(100vh - 101px);
    overflow-y: hidden;
}

.footer_menu_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	height: 100%;
}

a {
	text-decoration: none;
	color: #000;
}

.header_container, .footer_container {
	/* min-width: 320px; */
	width: calc(100% - 40px);
	margin: auto;
	height: 100%;
}

.logo_container {
	height: 100%;
	width: 40px;
	float: left;
	margin-right: 15px;
}

.logo_img {
	margin-top: 1px;
}

.header_col {
	vertical-align: top;
	display: inline-block;
	height: 100%;
	line-height: 100%;
	margin: auto 5px;
	font-size: 0;
}

.footer_col {
	margin: 0px 5px;
	color: #FFF;
	font-size: 10pt;
}

.menu_block {
	margin: auto 0px;
    position: relative;
}

.menu_main {
	padding: 0px;
    height: 100%;
}

.menu_user_item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font: 12pt sans-serif;
    min-height: 20px;
    margin: 15px 10px;
    color: #D8D8D8;
}

.menu_user_item_exist_submenu {
	cursor: pointer;
}

.menu_user_item:hover {
	color: #FFF;
	border-bottom: 1px solid #FFF;
}

.menu_user_item_active {
	color: #FFF;
/*	box-sizing: border-box;*/
	border-bottom: 1px solid #FFF;
	cursor: default !important;
}

.menu_user_item > a:hover {
	color: #FFF;
}

.menu_user_item > a {
	color: #D8D8D8;
}

.burger_menu {
	display: inline-block;
	font: 12pt sans-serif;
	height: 20px;
	width: 15px;
	cursor: pointer;
	margin: 15px 5px;
}

.burger_menu_icon {
	width: 15px;
	margin: 3px 5px 3px 0;
}

.burger_menu_header_box {
	position: absolute;
	max-width: 160px;
	text-align: left;
	background: #949088;
	border-radius: 3px;
	margin-top: 1px;
	transition: .3s;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.burger_menu_header_box_position_right {
	right: 0px;
}

.burger_menu_header_box_position_left {
	left: 0px;
}

.menu_burger {
	padding: 0px;
	margin: 0px;
	width: calc(100% - 10px);
}

.menu_burger > li > a, .menu_user_item_submenu_container > li > a {
	width: 100%;
    display: block;
	color: #D8D8D8;
}

.menu_box_active {
	transform:         scaleY(1) !important;
	-webkit-transform: scaleY(1) !important;
    -moz-transform:    scaleY(1) !important;
    -ms-transform:     scaleY(1) !important;
    -o-transform:      scaleY(1) !important;
    z-index: 1;
}

.menu_user_item_submenu_container {
	position: absolute;
	max-width: 160px;
	min-width: 130px;
	text-align: left;
	background: #746565;
	border-radius: 3px;
	margin-top: 1px;
	padding: 0px;
	top: 100%;
	left: 10px;
	transition: .3s;
	opacity: 0;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.admin_data_block {
	margin: 0px;
	float: right;
}

.admin_personal_data_block {
	float: right;
	height: 20px;
	margin: 15px 0;
	font: 12pt sans-serif;
	text-align: right;
	cursor: pointer;
	max-width: 200px;
}

.admin_role {
	max-width: 90%;
	display: inline-block;
	margin: 0px;
	font-size: 11pt;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #D8D8D8;
}

.box_pers_data_arrow {
	display: inline-block;
	margin: 0px;
}

.pers_data_arrow {
	margin: 3px 0px 3px 5px;
	transition: .3s;
}

.pers_data_arrow_active {
	transform:         rotate(-90deg);
	-webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
}

.avatar_block {
	float: right;
}

.avatar {
	margin: 5px 0;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.menu_box {
	position: absolute;
	width: inherit;
	margin: 15px calc((100% - (100% - 40px)) / 2) 0 0;
	right: 0px;
	text-align: left;
	background: #949088;
	border-radius: 3px;
	transition: .3s;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.menu_box_active {
	transform:         scaleY(1) !important;
	-webkit-transform: scaleY(1) !important;
    -moz-transform:    scaleY(1) !important;
    -ms-transform:     scaleY(1) !important;
    -o-transform:      scaleY(1) !important;
    z-index: 1;
}

.opacity_active {
	opacity: 1;
}

.menu_box_wrapper {
	cursor: default;
}

.menu_box_list {
	padding: 0px;
	margin: 0px;
}

.menu_box_item {
	display: block;
	padding: 5px 5px;
	border-radius: 3px;
	color: #D8D8D8;
	cursor: pointer;
}

.menu_box_item:hover {
	background: #BC8F8F;
	color: #FFF;
}

.not_active {
	display: none !important;
}

.active_burger_submenu {
	position: relative;
	display: block;
	font: 12pt sans-serif;
	width: calc(100% - 10px);
	min-height: 20px;
	padding: 5px 5px;
	border-radius: 3px;
	float: left;
	color: #D8D8D8
}

.active_burger_submenu:hover {
	color: #FFF;
	background: #BC8F8F;
}

.active_burger_menu {
	position: relative;
	display: block;
	font: 12pt sans-serif;
	width: 100%;
	min-height: 20px;
	padding: 5px 5px;
	border-radius: 3px;
	float: left;
	color: #D8D8D8;
}

.active_burger_menu:hover {
	color: #FFF;
	background: #BC8F8F;
}

.active_burger_menu > a:hover {
	color: #FFF;
}

.main_home_box {
	position: relative;
	width: 900px;
	margin: 10px auto;
	font-size: 12pt;
	border-radius: 5px;
	overflow: hidden;
}

.admin_list_item {
	padding: 10px;
}

.admin_list_item_title {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5A489F;
    font-size: 14pt;
    padding-bottom: 10px;
    border-bottom: 1px solid #0489B1;
}

.admin_list_item > .data_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 15px 0 0 0;
}

.admin_list_item:nth-child(odd) {
	background: #CCDADF;
}

.admin_list_item:nth-child(even) {
	background: #D8D5CB;
}

.admin_list_item:not(:last-child) {
	border-bottom: 3px solid #FFF;
}

.admin_pagination_box {
	margin-top: auto;
}

.pagination {
	bottom: 0px;
	margin: 20px 0 10px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0px;
	font: bold 14pt sans;
}

.pagination li {
	list-style: none;
	padding: 0px 5px;
}

.pagination > li > a {
	color: #086A87;
	transition: .2s;
}

.pagination > .active {
	color: #FE642E;
}

.pagination > li > a:hover {
	color: #FE642E;
}

.admin_list_box, .admin_details_box {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 122px);
	padding: 10px 20px;
	background: #FAFAFA;
}

.admin_list_title {
	word-break: break-all;
	margin: 5px 0px;
}

.admin_list_action_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 5px 0px 10px 0px;
}

.admin_list_action_block > a:not(:last-child) {
	margin-right: 5px;
}

.create_entity_button {
	display: block;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    transition: .2s;
    box-shadow: none;
    color: #0DD058;
}

.create_entity_button:hover {
	box-shadow: 0 0 5px 1px rgb(13 208 88);
}

.edit_entity_button {
	display: block;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    transition: .2s;
    box-shadow: none;
    color: #0489B1;
}

.edit_entity_button:hover {
	box-shadow: 0 0 5px 1px rgb(4 137 177);
}

.delete_entity_button {
	display: block;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    transition: .2s;
    box-shadow: none;
    color: #EA5F5F;
}

.delete_entity_button:hover {
	box-shadow: 0 0 5px 1px rgb(234 95 95);
}

.block_entity_button {
	display: block;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    transition: .2s;
    box-shadow: none;
    color: #FF8000;
}

.block_entity_button:hover {
	box-shadow: 0 0 5px 1px rgb(255, 128, 0);
}

.delete_entity_button {
	display: block;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    transition: .2s;
    box-shadow: none;
    color: #EA5F5F;
}

.delete_entity_button:hover {
	box-shadow: 0 0 5px 1px rgb(234 95 95)
}

.admin_list_table {
	width: 100%;
	background: #FFF;
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 11pt;
	/*flex: 1;*/
}

.admin_list_table tbody {
	width: 100%;
}

.admin_list_table tr {
	width: 100%;
}

.admin_list_table tr:nth-child(odd) {
	background: #F2F2F2;
}

.admin_list_table th {
	padding: 10px 0px;
	border: 1px solid #A4A4A4;
	background: #F4F2E5;
}

.admin_list_table td {
	padding: 10px 5px;
	border: 1px solid #A4A4A4;
	word-wrap: break-word;
}

.nothing_found {
	font-size: 14pt;
	/*text-align: center;*/
    color: #6E6E6E;
}

.image_file_container_template, .image_file_container_admin_preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    max-width: 180px;
    cursor: pointer;
    padding: 2px;
    margin: 3px;
}

.image_file {
    max-height: 100%;
    max-width: 100%;
}

.admin_filter_block {
    /*padding: 5px 0px;*/
    margin-bottom: 15px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #D8D8D8;
}

.admin_filter_block > form {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin_filter_block > form > div:not(:last-child) {
	padding: 4px;
	margin-right: 4px;
	margin-left: 4px;
	background: #FFF;
	border-radius: 3px;
	/*border-right: 1px solid #A4A4A4;*/
}

/*.admin_filter_block > form > div:first-child {
	padding-left: 5px;
	border-left: 1px solid #A4A4A4;
}*/

.date_range_container, .text_container, .select_container {
	display: flex;
	flex-direction: column;
	margin: 5px 0;
}

.text_container_base, .select_container_base {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.text_container_base > .text_title_container, .select_container_base > .text_title_container {
	font-weight: bold;
	margin-bottom: 5px;
}

.date_range_field_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	margin-top: 3px;*/
}

.date_range_from_container, .date_range_to_container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	margin-top: 3px;
}

.date_range_from_container {
	margin-right: 5px;
}

.admin_filter_date_range_field {
	display: block;
    height: 25px;
    width: 120px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 11pt sans-serif;
    outline: none;
    padding: 0px 5px;
    margin: 0 5px;
    box-sizing: border-box;
    pointer-events: none;
    background: #E6E6E6;
}

.admin_filter_field {
	display: block;
    height: 25px;
    width: 120px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 11pt sans-serif;
    outline: none;
    padding: 0px 5px;
    margin-top: 3px;
    box-sizing: border-box;
    background: #E6E6E6;
}

.admin_base_field {
	display: block;
    height: 30px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 11pt sans-serif;
    outline: none;
    padding: 0px 5px;
    margin-top: 5px;
    box-sizing: border-box;
    background: #E6E6E6;
}

.admin_base_textarea_field {
	display: block;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 11pt sans-serif;
    outline: none;
    padding: 0px 5px;
    margin-top: 5px;
    box-sizing: border-box;
    background: #E6E6E6;
}

.admin_filter_date_range_clear_icon {
	position: absolute;
	right: 25px;
	height: 14px;
    width: 14px;
    cursor: pointer;
    margin: 0px 7px 0px 1px;
}

.admin_filter_date_range_icon {
	height: 20px;
    width: 20px;
    cursor: pointer;
}

.admin_filter_button_block {
	display: flex;
	flex-direction: row;
	margin: 5px 4px 5px auto;
	align-self: flex-end;
}

.admin_filter_button_block > *:not(:last-child) {
	margin-right: 3px;
}

.admin_filter_submit_button, .admin_base_submit_button {
    padding: 3px;
    color: #FFF;
    background: #0489B1;
    border-radius: 3px;
    height: 25px;
    /*align-self: flex-end;*/
    cursor: pointer;
    font-size: 11pt;
    margin: 5px 0 5px auto;
    outline: none;
    border: none;
    transition: .2s;
}

.admin_filter_submit_button:hover, .admin_base_submit_button:hover {
    background: #086A87;
}

.admin_filter_clear_button {
    padding: 3px;
    color: #FFF;
    background: #FF8000;
    border-radius: 3px;
    height: 25px;
    /*align-self: flex-end;*/
    cursor: pointer;
    font-size: 11pt;
    margin: 5px 0 5px auto;
    outline: none;
    border: none;
    transition: .2s;
}

.admin_filter_clear_button:hover {
    background: #DF3A01;
}

/* date range calendar */

.calendar_box {
	display: none;
	border-radius: 3px;
	background: #FFF;
	color: #0489B1;
	opacity: 0;
	transition: .2s;
	padding: 5px;
	z-index: 1;
}

.calendar_box_position_left {
	display: block;
	position: absolute;
	height: 260px;
	width: 300px;
	left: 100%;
	box-sizing: border-box;
	border: 3px solid #0489B1;
}

.calendar_box_position_top {
	display: block;
	position: absolute;
	height: 260px;
	width: 300px;
	top: calc(100% + 10px);
	right: calc(-150px + 12px);
	box-sizing: border-box;
	border: 3px solid #0489B1;
}

.calendar_box_active {
	opacity: 1;
}

.calendar_box_position_left:after, .calendar_box_position_left:before {
	content: ""; 
	border: solid transparent;
	position: absolute;  
	right: 100%;
	top: calc(50% - 8px);
}

.calendar_box_position_left:after {
	border-right-color: #fff;
	border-width: 8px;
	margin-top: 0;
}

.calendar_box_position_left:before {
	border-right-color: #0489B1;
	border-width: 12px;
	margin-top: -4px;
}

.calendar_box_position_top:after, .calendar_box_position_top:before {
	content: ""; 
	border: solid transparent;
	position: absolute;  
	bottom: 100%;
	right: calc(50% - 8px);
}

.calendar_box_position_top:after {
	border-bottom-color: #fff;
	border-width: 8px;
	margin-right: 0;
}

.calendar_box_position_top:before {
	border-bottom-color: #0489B1;
	border-width: 12px;
	margin-right: -4px;
}

.calendar_container_close, .select_time_container_close {
	position: absolute;
	display: none;
	right: 0px;
	top: 0px;
	height: 20px;
	width: 20px;
	transition: .2s;
	cursor: pointer;
	border-radius: 50%;
}

.calendar_container_close:hover, .select_time_container_close:hover {
	background: red;
}

.calendar_container_close_icon, .select_time_container_close_icon {
	margin: 4px;
}

.calendar_header_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	color:  #5A489F;
}

.calendar_date_title {
	margin: 0px 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15pt;
}

.calendar_left_arrow, .calendar_right_arrow {
	font-size: 20pt;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	transform: scale(1);
	transition: .2s;
}

.calendar_left_arrow:hover, .calendar_right_arrow:hover {
	transform: scale(1.2);
}

.calendar_box > table {
	width: 100%;
	min-width: 0px !important;
	height: calc(100% - 30px);
	border-collapse: collapse;
}

.calendar_box td {
	border: 2px solid #0489B1;
	height: calc((100% - 30px) / 6);
	width: calc(100% / 7);
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
}

.calendar_box th {
	height: 30px;
	border: 2px solid #0489B1;
	font-size: 15pt;
	background: #E6E6E6;
}

.calendar_box td:hover {
	color: #FFF;
	background: #0489B1;
}

.calendar_current_month_cell {
	background: #EFF2FB;
	color:  #5A489F;
}
.calendar_not_current_month_cell {
	background: #FFF;
	color:  #0489B1;
}

.admin_button_cell {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.admin_button_anchor {
	margin-left: 2px;
	margin-right: 2px;
	padding: 2px 0px;
}

.admin_button_cell_icon {
	max-height: 16px;
	max-width: 20px;
}

.admin_bread_crumbs_container {
	list-style: none;
	margin: 0px;
	padding: 7px 10px;
	background: #E6E6E6;
	border-radius: 3px;
	font-size: 11pt;
}

.admin_bread_crumbs_container > li {
	display: inline-block;
}

.admin_bread_crumbs_container > li > a {
	display: inline-block;
	color: #0489B1;
	box-sizing: border-box;
	height: 18px;
	line-height: 18px;
}

.admin_bread_crumbs_container > li > a:hover {
	border-bottom: 1px solid #0489B1;
}

.admin_bread_crumbs_container > li:not(:last-child):after {
	padding: 0 5px;
    color: #848484;
    content: "/\00a0";
}

.admin_bread_crumbs_container > .active {
	color: #848484;
}

.admin_view_content_block {
	border-radius: 3px;
	border: 1px solid #A4A4A4;
}

.admin_view_row {
	display: flex;
    flex-direction: row;
}

.admin_view_row:not(:last-child) {
	border-bottom: 1px solid #A4A4A4;
}

.admin_view_row:nth-child(odd) {
	background: #F2F2F2;
}

.admin_view_row_label {
    font-size: 12pt;
    font-weight: bold;
    min-width: 205px;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #A4A4A4;
    flex: 1 1 auto;
}

.admin_view_row_value {
	width: 70%;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-all;
    flex: 1 1 auto;
}

.admin_upload_file_label {
	display: inline-block;
	padding: 3px;
    color: #FFF;
    background: #0489B1;
    border-radius: 3px;
    /*height: 25px;
    line-height: 25px;*/
    cursor: pointer;
    font-size: 11pt;
    margin: 5px auto 5px 0;
    outline: none;
    border: none;
    transition: .2s;
}

.admin_upload_file_label:hover {
	background: #086A87;
}

.errors[role="validation_errors"] {
	position: relative;
	border: 1px solid #DF013A;
	box-sizing: border-box;
	border-radius: 3px;
	width: calc(100% - 20px);
	margin: 10px;
}

.errors[role="validation_errors"] li {
	color: #DF013A;
	font-size: 12pt;
	padding: 15px 0px;
}

.close_errors_block {
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	right: 0px;
	top: 0px;
	cursor: pointer;
	opacity: 0.6;
}

.close_errors_block:hover {
	opacity: 1;
}

.close_errors_block > img {
	margin: 2px;
}

.modal {
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    max-width: 100vw;
	transform:         scale(0);
	-webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
}

.modal_box {
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background: rgba(0,0,0, 0.9);
	transition: .3s;
	opacity: 0;
}

.modal_container_top {
	display: table-cell;
	height: 100vh;
	width: 100vw;
}

.notice_box_modal {
	position: relative;
	top: 30px;
	background: #FFF;
	border: 1px solid #808080;
	border-radius: 3px;
	box-sizing: border-box;
	min-width: 300px;
	max-width: 900px;
	margin: auto;
	max-height: 80%;
}

.notice_modal_title {
	text-align: justify;
	background: #F2F5A9;
	margin: 0px;
	padding: 20px;
	width: calc(100% - 40px);
}

.notice_button_box {
	text-align: right;
	padding: 10px;
	font-size: 1.2em;
	width: calc(100% - 20px);
}

.notice_button_box > .profile_button {
	text-align: center;
}

.notice_button_accept {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer;
	background: #F78181;
	color: #FFFFFF;
	transition: .2s;
}

.notice_button_reject {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 3px;
	cursor: pointer;
	background: #0DD058;
	color: #FFFFFF;
	transition: .2s;
}

.image_template_delete_file_container {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	right: -7px;
	top: -7px;
	transition: .2s;
	opacity: 0.7;
	background: #6E6E6E;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
}

.image_template_delete_file_container:hover {
	opacity: 1;
}

.image_template_delete_file_icon {
	height: 16px;
	width: 16px;
}

.modal_box_active {
	opacity: 1 !important;
}

.modal_active {
	transform:         scale(1);
	-webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
}

.admin_create_edit_block {
	position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 122px);
    padding: 10px 20px;
    background: #FAFAFA;
}

.admin_create_edit_container {
	margin-top: 10px;
	padding: 0px 50px;
}

.image_file_template_container {
	display: none;
}

.admin_article_description {
	word-break: break-word;
	text-align: justify;
}

.admin_article_description > div {
	position: relative;
	cursor: pointer;
	padding: 20px 20px 5px 30px;
	border-radius: 3px;
}

.admin_article_description > div:hover {
	box-shadow: 0 0 5px 1px rgb(13 208 88);
}

.p_count, .p_delete {
	position: absolute;
	display: none;
	font-size: 11pt;
	top: 0px;
}

.p_count {
	left: 3px;
}

.p_delete {
	right: 3px;
	padding: 1px;
	border-radius: 3px;
}

.p_delete:hover {
	box-shadow: 0 0 5px 1px rgb(234 95 95);
}

.admin_article_description > div:hover span {
	display: block;
}

.article_img_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
}

.article_img_container > div {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.article_img_container > img {
	max-height: 400px;
	max-width: 100%;
	margin-bottom: 10px;
}

.article_quote_text {
	font-style: italic;
	padding: 10px;
	margin: 0px;
	line-height: 1.5
}

@media screen and (max-width: 576px) {

	.admin_role {
		display: none;
	}

}

@media screen and (max-width: 920px) {
	.main_home_box {
		width: calc(100% - 40px);
	}
}

@media screen and (max-width: 790px) {
	.main_home_box {
		width: calc(100% - 10px);
		margin-top: 5px;
		margin-bottom: 5px;
	}
}