.content_wrapper {
	text-align: center;
	font-size: 0;
	position: relative;
	min-width: 360px;
	overflow-y: hidden;
}

.main_box{
	position: relative;
	display: inline-block;
	min-height: calc(100vh - 122px);
	width: 900px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: left;
	margin: 10px 0;
	padding: 10px;
	font-size: 12pt;
	overflow-y: hidden;
	background: #FFF;
}

.cabinet_content {
	min-height: calc(100vh - 142px);
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}

.list_cabinet_item {
	/*font-size: 0pt;
	text-align: center;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start
}

.list_cabinet_item > div {
	/*display: inline-block;
	vertical-align: top;*/
	/* height: 200px; */
	width: calc((100%  - 60px) / 3);
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 10px;
	cursor: pointer;
}

.list_cabinet_item > div:hover {
	border: 2px solid #5A498F;
}

.name_item_block {
	width: 100%;
	height: 40px;
	padding: 0px 2px;
	box-sizing: border-box;
	text-align: center;
}

.name_item_block > h2 {
	font-size: 14pt;
	height: 36px;
	line-height: 36px;
	border-bottom: 2px solid #5A498F;
	margin: 0px;
}

.statistic_item_block {
	width: 100%;
	height: calc(100% - 40px);
	box-sizing: border-box;
	/* border-top: 2px solid #5A498F; */
	padding: 5px;
	font-size: 11pt;
	text-align: start;
}

.statistic_item_block > .statistic_item_container:not(:last-child) {
	border-bottom: 1px solid #BDBDBD;
}

.statistic_item_container {
	min-height: 20px;
	padding: 5px 0px;
}

.statistic_item_container > * {
	display: inline-block;
	margin: 2px 0px;
}

.invites_event_item_count, .invites_meeting_item_count, .tasks_current_item_count, .tasks_scheduled_item_count, .tasks_overdue_item_count, .tasks_created_item_count {
	position: relative;
}

@media screen and (max-width: 900px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}

}

@media screen and (max-width: 540px) {

	.list_cabinet_item > div {
		display: block;
		width: calc(100%  - 20px);
		height: auto;
	}

}