.content_wrapper {
	text-align: center;
	/* font-size: 0; */
	position: relative;
	min-width: 360px;
}

.main_box{
	display: inline-block;
	min-height: calc(100vh - 122px);
	width: 900px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: left;
	margin: 10px 0;
	padding: 10px;
	background: #FFF;
	/* font-size: 0; */
}

.personal_data_title {
	width: 100%;
	height: 30px;
	text-align: center;
	margin-bottom: 15px;
}

.personal_data_title > h2 {
	margin: 0px;
	height: inherit;
	color: #5A489F;
}

.change_user_data_box {
	border: 1px solid #0489B1;
	border-radius: 3px;
	font: 12pt verdana;
	color: #2F4F4F;
	padding: 10px;
	margin: 0px auto;
	height: auto;
	max-height: 500px;
	max-width: 500px;
	overflow: hidden;
	/* transition: .3s; */
}

.main_box > div.change_user_data_box:not(:last-child) {
	margin-bottom: 15px;
}

.change_user_data_box > div:not(.button_box_edit_profile):not(.button_box_edit_password_and_safety):not(.notice_elem_ava) {
	height: 40px;
	margin: 0px 0;
	border-bottom: 1px solid #848484;
	box-sizing: border-box;
}

.firstname_elem, .lastname_elem, .country_elem, .city_elem, .avatar_elem, .numphone_elem, .work_day_start, .work_days_amount {
	height: 45px !important;
}

.title_for_item {
	height: 20px;
	width: calc(100% - 40px);
	margin: 3px 0;
	padding-left: 5px;
	float: left;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	box-sizing: border-box;
}

.item_pers_data {
	font: 11pt sans-serif;
	width: 100%;
	margin: 0;
	height: 16px;
	color: #FF8000;
	transition: .3s;
}

.edit_profile_inp {
	width: calc(100% - 35px);
	height: 24px;
	float: left;
}

.input_edit {
	display: block;
	height: 26px;
	width: 100%;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
	font: 12pt verdana;
	color: #2F4F4F;
	outline: none;
	padding: 0px 4px;
	box-sizing: border-box;
	transition: .3s;
}

.edit_icon {
	float: right;
	height: 25px;
	width: 30px;
	cursor: pointer;
	margin: 0px 0;
}

.edit_icon_push {
	position: relative;
	top: 2px;
	left: 2px;
	box-shadow: -2px -2px 5px;
}

select[name=reg_country] {
	cursor: pointer;
}

.input_edit_ava {
	height: 22px;
	width: calc(100% - 90px);
	font: 10pt verdana;
	color: #2F4F4F;
	outline: none;
	box-sizing: border-box;
	padding-left: 5px;
	margin: 3px 0;
}

.notice_elem_ava, .notice_ava_extension {
	color: red;
	text-align: center;
	margin: 7px 0;
	font-size: 12pt;
	max-height: 0px !important;
	transform: scale(0);
	transition: .2s;
}

.notice_elem_ava_active, .notice_ava_extension_active {
	max-height: 180px !important;
	transform: scale(1);
}

.change_user_data_box_report_well_done {
	max-height: 50px;
}

.button_box_edit_profile {
	height: 30px;
	margin-top: 10px !important;
	text-align: right;
}

.button_edit_profile_submit, .button_user_setting_submit {
	display: inline-block;
	height: 30px;
	width: 180px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 3px;
    background: #0DD058;
    border: none;
    color: #FFFFFF;
    outline: none;
    transition: .2s;
}

.button_edit_profile_submit:hover, .button_user_setting_submit:hover {
	background: #24AF0C;
}

.current_password > .item_pers_data {
	margin-bottom: 5px !important;
	height: 16px !important;
}

.current_password {
	height: 76px !important;
}

.title_change_pass_saf {
	margin: 0px 0px 5px 5px;
	height: 16px;
	font: 11pt sans-serif;
	color: #FF8000;
	transition: .3s;
}

.edit_password_elem, .edit_email_elem {
	transition: .3s;
	height: 0px !important;
	transform: scaleY(0);
}

.pass_saf_active_edit_box {
	height: 45px !important;
	transform: scaleY(1);
}

/* .edit_password_elem_active {
	height: 45px !important;
	transform: scaleY(1);
} */

.new_password_elem, .new_email_elem {
	transition: .3s;
	max-height: 0px !important;
	transform: scaleY(0);
	font-size: 0px;
	height: auto !important;
}

.pass_saf_active_change_box {
	max-height: 200px !important;
	transform: scaleY(1);
}

.hide_elem {
	height: 0px !important;
	margin: 0px !important;
	transform: scaleY(0);
}

.button_new_password_submit {
	margin-top: 15px;
	height: 40px;
}

.button_change_password_left, .button_change_password_right, .button_change_email_left, .button_change_email_right {
	transition: .3s;
	width: calc(50% - 4px);
	text-align: center;
	margin: 7px 0;
	border-radius: 3px;
	height: 30px;
	cursor: pointer;
	display: inline-block;
}

.button_change_password_left, .button_change_email_left {
	margin-right: 4px;
	background: url(/img/cancel.png) 50% 50% no-repeat #8AF0F4;
	background-size: 35px 29px;
}

.button_change_password:hover, .button_change_email:hover {
	background-color: #5ce7ed;
}

.button_change_password_right, .button_change_email_right {
	margin-left: 4px;
	background: url(/img/input_arrow.png) 50% 50% no-repeat #8AF0F4;
	background-size: 35px 25px;
}

.button_change_right {
	margin: 7px 0px 7px 4px;
	border-radius: 3px;
	height: 30px;
	background: #8AF0F4;
	width: calc(50% - 4px);
	display: inline-block;
	vertical-align: top;
	transition: 0s;
}

.well_done_new_pass {
	color: #01DF01;
}

.error_el {
	box-shadow: 0 0 7px rgba(207, 0, 15, 1);
}

.current_password_inp_container {
	border: 1px solid #000000;
	border-radius: 3px;
	box-sizing: border-box;
	height: 28px;
	clear: both;
	/* display: inline-block;
	width: 100%; */
}

.current_password_inp {
	float: left;
	border: none;
	outline: none;
	width: calc(100% - 20px);
}

.current_password_submit {
	height: 26px;
	float: right;
}

div.show_hide_numphone > span {
	display: block;
	position: absolute;
	height: 24px;
	line-height: 28px;
	padding-left: 4px;
}

div.show_hide_numphone > input[type=number] {
	padding-left: 15px;
}

@media screen and (max-width: 900px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}
	
}