.content_wrapper {
	text-align: center;
	font-size: 0;
	position: relative;
	min-width: 360px;
	overflow-y: hidden;
}

.main_box {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 122px);
	width: 900px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: left;
	margin: 10px auto;
	padding: 10px;
	font-size: 12pt;
	overflow-y: hidden;
	background: #FFF;
}

.title_messages_block {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 2px 0;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}

.back_to_all_correspondence_button, .edit_chat_button {
	height: 16px;
	font-size: 10pt;
	cursor: pointer;
	margin: 1px 0;
	box-sizing: border-box;
}

.chat_member_data {
	height: 16px;
	font-size: 10pt;
	margin: 1px 8px;
}

.main_member_count {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
	cursor: pointer;
}

.back_to_all_correspondence_button > a, .edit_chat_button > a {
	color: #5A489F;
}

.back_to_all_correspondence_button:hover, .edit_chat_button:hover {
	border-bottom: 1px solid #6A0592;
}

.correspondence_fullname_or_chat_room {
	height: 16px;
	font-size: 10pt;
	margin: 1px 10px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.messages_block {
	overflow-y: auto;
	scrollbar-width: thin;
	flex: 1 1 auto;
}

.write_message_box {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: .3s;
	max-height: 50vh;
}

.write_message_text_box {
	width: 100%;
	transition: .3s;
	flex: 1 1 auto;
}

.text_message {
	min-height: 30px;
	max-height: 25vh;
	width: 100%;
	padding: 5px;
	font-size: 12pt;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #000000;
	overflow-y: auto;
	transition: .3s;
}

.file_icon_for_message_message_page {
	margin-top: 8px !important;
}

.text_message:focus {
	border: 1px solid #000000;
}

.write_message_send_message_button {
	width: 100px;
	height: 22px;
	margin: 8px 0px 0px 0px;
	float: right;
	padding: 0px;
	background: #0DD058;
	color:  #FFFFFF;
	border-radius: 3px;
	border: none;
	outline: none;
	font: 11pt sans-serif;
	cursor: pointer;
	transition: .2s;
}

.write_message_send_message_button:hover {
	background: #24AF0C;
}

.message_item_box {
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #BDBDBD;
}

.message_item_box:hover .menu_message_container, .message_item_box:hover .reaction_message_icon {
	pointer-events: auto;
	opacity: 1;
}

.message_title {
	height: 40px;
	display: flex;
	flex-direction: row;
}

.message_box {
	margin-top: 10px;
	position: relative;
}

.message_text {
	font-size: 11pt;
	padding: 5px;
	margin-left: 46px;
	overflow:hidden;
	word-break: break-all;
	box-sizing: border-box;
	min-height: 20px;
}

.message_ava_box {
	height: 40px;
	width: 36px;
	flex-shrink: 0;
}

.message_ava {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	margin: 2px 0px;
	cursor: pointer;
}

.user_name_time_box > span {
	display: block;
	height: 16px;
	margin: 2px 0px;
	font-size: 10pt;
}

.user_name_time_box > a {
	font-size: 10pt;
}

.user_name_time_box > a > span {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	cursor: pointer;
	color: #5A489F;
}

.user_name_time_box > span:nth-child(2) {
	color: #6E6E6E;
}

.user_name_time_box {
	margin-left: 10px;
	margin-right: auto;
	max-width: cacl(100% - 100px);
}

.message_ava_box, .user_name_time_box {
	display: inline-block;
	vertical-align:  top;
	height: 40px;
	overflow: hidden;
    text-overflow: ellipsis;
}

.important_message_container {
	display: inline-block;
	float: right;
	position: relative;
	height: 100%;
	width: 26px;
	margin-right: 10px;
}

.important_message_icon {
	height: 26px;
	width: 26px;
	/*padding: 0px 0px 14px 0px;*/
}

.menu_message_container {
	/*display: inline-block;*/
	/*float: right;*/
	position: absolute;
	flex-shrink: 0;
	right: 0px;
	position: relative;
	height: 16px;
	width: 26px;
	pointer-events: none;
	opacity: 0;
	margin: 4px 0px 20px 0px;
	transition: .2s;
}

.menu_message_icon {
	height: 16px;
	width: 22px;
	cursor: pointer;
}

.menu_message_list_container {
	position: absolute;
	background: #D8D8D8;
	border-radius: 3px;
	right: 0px;
	top: 17px;
	z-index: 1;
	transition: .3s;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.menu_message_list {
	padding: 0px;
    margin: 0px;
}

.menu_message_item {
	display: block;
    padding: 5px 5px;
    border-radius: 3px;
    color: #5A489F;
    cursor: pointer;
    list-style-type: none;
    font-size: 11pt;
    font-stretch: ultra-condensed;
    white-space: nowrap;
}

.menu_message_item:hover {
	background: #BC8F8F;
}

.chat_message_statistic_block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 5px;
}

.reaction_message_icon_container {
	position: relative;
	height: 18px;
}

.reaction_message_icon {
	cursor: pointer;
	height: 18px;
	width: 18px;
	transition: .2s;
	opacity: 0;
	margin-left: 3px;
	margin-right: 20px;
}

.reaction_message_block {
	flex: 1, 1, auto;
	padding: 0px 5px;
	margin-right: auto;
}

.message_view_statistic {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 10pt;
	height: 18px;
	cursor: pointer;
	align-self: flex-end;
}

.view_statistic_icon {
	display: block;
	height: 12px;
	width: 18px;
	padding-right: 2px;
}

.welcome_message_block {
	text-align: center;
	border-bottom: 1px solid #BDBDBD;
	color: #6E6E6E;
}

.dialog_chat_item_not_read_message, .self_message_not_read {
	background: #E0F2F7;
}

.massage_file_container {
    margin-left: 46px;
    padding: 15px 5px;
    font-size: 0;
}

.dialog_chat_border {
	border-bottom-style: solid;
	border-bottom-color: #BDBDBD;
	border-bottom-width: 1px;
}

@media screen and (max-width: 900px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}

}

@media screen and (max-height: 480px) {
	
	.content_wrapper {
		min-height: calc(100vh - 82px);
	}
	
	.main_box {
		min-height: calc(100vh - 102px);
	}
	
	.messages_block {
		height: calc(100vh - 208px);
	}
}