.content_wrapper {
	position: relative;
	text-align: center;
	font-size: 0;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	display: inline-block;
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px 0px;
	font-size: 12pt;
	overflow-y: hidden;
	font-size: 0;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	border-radius: 5px;
	background: #FFF;
}

.create_chat_title {
	text-align: center;
	font-size: 16pt;
	color: #4A589F;
	padding: 3px;
	border-bottom: 1px solid #4A589F;
}

.delete_chat_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 0px 0px 0px;
}

.delete_chat_button {
	padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11pt;
    transition: .2s;
    box-shadow: none;
    color: #EA5F5F;
}

.delete_chat_button:hover {
	box-shadow: 0 0 5px 1px rgb(234 95 95);
}


.create_chat_field_label {
	color: #5A489F;
	font-size: 14pt;
	box-sizing: border-box;
	padding: 10px;
	width: 30%;
}

.create_chat_field_value {
	box-sizing: border-box;
	padding: 10px;
	width: 70%;
}

.create_chat_field_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.input_create_chat_name {
	display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 12pt sans-serif;
    outline: none;
    padding: 0px 5px;
    box-sizing: border-box;
}

.create_chat_load_file {
	display: block;
	width: 160px;
	background: #0489B1;
	color: #FFF;
	transition: .2s;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	font-size: 11pt;
	text-align: center;
}

.create_chat_load_file:hover {
	background: #086A87;
}

.column_field_list {
	display: flex;
	flex-direction: column;
}

.align_top {
	align-items: flex-start !important;
}

.create_chat_image_container {
	display: inline-block;
    position: relative;
    height: 195px;
    width: 160px;
    margin: 10px 0px;
}

.create_chat_upload_image {
	border-radius: 50%;
	height: 159px;
	width: 159px;
}

.chat_member_container {
	margin-top: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #0489B1;
	padding: 10px;
}

.chat_member_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #5A489F;
	font-size: 14pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #0489B1;
}

.add_chat_member_but {
	padding: 7px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 11pt;
	transition: .2s;
	box-shadow: none;
	color: #0489B1;
}

.add_chat_member_but:hover {
	box-shadow: 0 0 5px 1px rgb(4 137 177);
}

.chat_create_button_box {
	margin-top: 15px;
	text-align: right;
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 680px) {
	.create_chat_field_label {
		width: 100%;
	}

	.create_chat_field_value {
		padding-top: 0px;
		width: 100%;
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}