.top_box, .bottom_box {
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.top_box {
	display: inline-block;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.bottom_box {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	/*background: #FFF;*/
}

.tv_wrapper {
	position: relative;
	margin: 5px auto;
	height: 466px;
	max-width: 700px;
	background: url(/img/tv_.jpg);
	background-size: 700px 466px;
}

.tv_screen, .tv_screen_404 {
	position: absolute;
	left: 68px;
	top: 55px;
	height: 308px;
	width: 574px;
	/* transition: 3s; */
}

.tv_screen_404 {
	z-index: 2;
}

/* .tv_screen_background {
	opacity: 0;
} */

@media screen and (max-width: 720px) {

	.tv_wrapper {
		max-width: 600px;
		height: 400px;
		background-size: 600px 400px;
	}
	
	.tv_screen, .tv_screen_404 {
		left: 59px;
		top: 46px;
		height: 266px;
		width: 493px;
	}

}

@media screen and (max-width: 620px) {

	.tv_wrapper {
		max-width: 500px;
		height: 333px;
		background-size: 500px 333px;
	}
	
	.tv_screen, .tv_screen_404 {
		left: 49px;
		top: 39px;
		height: 221px;
		width: 411px;
	}

}

@media screen and (max-width: 520px) {

	.tv_wrapper {
		max-width: 400px;
		height: 266px;
		background-size: 400px 266px;
	}
	
	.tv_screen, .tv_screen_404 {
		left: 39px;
		top: 31px;
		height: 177px;
		width: 330px;
	}

}

@media screen and (max-width: 420px) {

	.tv_wrapper {
		max-width: 300px;
		height: 200px;
		background-size: 300px 200px;
	}
	
	.tv_screen, .tv_screen_404 {
		left: 30px;
		top: 24px;
		height: 132px;
		width: 246px;
	}

}