.content_wrapper {
	position: relative;
	text-align: center;
	font-size: 0;
	position: relative;
	/*min-width: 370px;*/
	overflow-y: hidden;
}

.main_box{
	display: inline-block;
	min-height: calc(100vh - 122px);
	width: calc(100% - 40px);
	text-align: left;
	margin: 0px auto;;
	padding: 10px;
	font-size: 12pt;
	overflow-y: hidden;
	font-size: 0;
}

.event_menu_container {
	position: fixed;
	display: inline-block;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	/*max-height: 498px;*/
	max-height: 100%;
	border-radius: 5px;
	width: 300px;
	background: #EFF2FB;
	right: calc(100% - 320px);
	z-index: 2;
	transition: .2s;
}

.event_content_container {
	font-size: 16pt;
	margin-left: 15px;
	width: calc(100% - 315px);
	min-height: calc(100vh - 122px);
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	float: right;
	transition: .2s;
	background: #FFF;
}

.event_content_list {
	padding: 10px 10px;
}

.task_content_list {
	padding: 10px;
}

.event_menu_box {
	padding: 10px;
	border-bottom: 3px solid #FFF;
}

.event_filter_box {
	padding: 10px;
}

.event_menu_box > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-size: 12pt;
}

.event_menu_item {
	height: 30px;
	line-height: 30px;
	color: #5A489F;
	padding: 0px 5px;
	/*border-radius: 3px;*/
}

.event_menu_item:hover:not(.active_event_menu_item) {
	background: #086A87;
	color: #FFF;
}

/*.event_menu_item:not(:last-child) {
	margin-bottom: 2px;
}*/

.event_menu_item > a {
	display: block;
	width: 100%;
	color: inherit;
}

.active_event_menu_item {
	background: #0489B1;
	color: #FFF;
}

.invitations_span_count, .current_task_span_count, .scheduled_task_span_count, .overdue_task_span_count, .created_task_span_count {
	position: relative;
}

.event_filter_box label:not([for="only_current_and_scheduled"]), .filter_date_label {
	font-size: 11pt;
	display: block;
	width: 100%;
	color: #5A489F;
	margin: 5px 0px;
}

.event_filter_box input:not([type="checkbox"]), .event_filter_box select {
	display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 11pt sans-serif;
    outline: none;
    padding: 0px 5px;
    box-sizing: border-box;
}

.event_filter_box input[type="checkbox"] {
	display: block;
	margin: 0px;
}

.event_filter_box label[for="only_current_and_scheduled"] {
	display: block;
	font-size: 11pt;
	color: #5A489F;
	margin-left: 5px;
	cursor: pointer;
}

.filter_invite_only_current_and_scheduled_box {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}

.filter_button_box {
	text-align: right;
}

.filter_apply_button {
	display: inline-block;
    padding: 5px;
    color: #FFF;
    background: #0489B1;
    border-radius: 3px;
    margin: 3px 0;
    cursor: pointer;
    font-size: 11pt;
    transition: .2s;
}

.filter_apply_button:hover {
	background: #086A87;
}

.filter_date_item {
	display: flex;
	flex-direction: row;
	margin: 5px 0px;
	align-items: center;
}

.filter_date_content {
	font-size: 11pt;
}

.filter_date_item_value_from, .filter_date_item_value_to {
	background: #FFF;
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
	border-radius: 3px;
	text-align: center;
}

.filter_date_icon {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.filter_name_box, .filter_privacy_box, .filter_date_box, .filter_invite_status_box, .task_status_box, .review_status_box, .task_history_status_box {
	margin-bottom: 10px;
}

.event_type_menu_container {
	position: relative;
}

.add_new_event_block {
	position: absolute;
	top: 7px;
	left: 10px;
	font-size: 26pt;
	text-align: center;
	color: #FFF;
	height: 30px;
	line-height: 30px;
	width: 30px;
	background: #0DD058;
	border-radius: 5px;
	transition: .2s;
}

.add_new_event_block:hover {
	background: #24AF0C;
}

.event_type_block {
	text-align: center;
	font-size: 14pt;
	color: #5A489F;
	padding: 10px 0px;
	margin: 0px 10px;
	border-bottom: 1px solid #5A489F;
}

.event_menu_icon_container {
	position: absolute;
	left: 10px;
	top: 14px;
	width: 22px;
	pointer-events: none;
	opacity: 0;
	transition: .2s;
}

.event_menu_icon {
	height: 18px;
    width: 22px;
    cursor: pointer;
}

.event_content_title {
	margin: 0px;
	text-align: center;
	color: #5A489F;
	display: none;
	width: 100%;
	background: #FFF;
	border-bottom: 1px solid #5A489F;
}

.event_menu_close_container {
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
	margin-top: 5px;
}

.event_menu_close_icon {
	height: 18px;
	width: 18px;
	margin: 4px 4px;
	cursor: pointer;
}

.menu_container_active {
	right: calc(100% - 300px) !important;
	/*z-index: ;*/
}

.event_menu_container_not_active {
	pointer-events: none;
	opacity: 0;
	overflow-y: hidden;
}

.filter_date_clear_icon {
	height: 14px;
	width: 14px;
	cursor: pointer;
	margin: 0px 7px 0px 1px;
}

.no_events_title {
	text-align: center;
    color: #6E6E6E;
    font-size: 16pt;
}

.event_result_item {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 5px 0px 0px 0px;
	margin-bottom: 10px;
	border-radius: 3px;
	border:  1px solid #0489B1;
	overflow-x: hidden;
}

.event_item_content {
	display: flex;
	flex-direction: column;
	width: calc(100% - 20px);
}

.event_item_content_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 12pt;
	padding-right: 5px 0px;
}

.event_item_content_block > div {
	padding: 5px;
	background: #EFF2FB;
	box-shadow: 0 1px 6px rgb(125 122 128);
	margin: 0px 5px 5px 5px;
	flex: 1 1 auto;
}

.event_item_date_container {
	display: flex;
	flex-direction: column;
	padding: 0px 10px 0px 0px;
}

.event_item_name_container {
	padding: 0px 10px 0px 10px;
}

.event_item_name {
	color: #5A489F;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 14pt;
	padding: 5px;
	width: calc(100% - 10px);
}

.event_item_content_block .event_item_label {
	display: block;
	color: #5A489F;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #BDBDBD;
	font-size: 14pt;
	text-align: center;
}

.event_item_content_block .event_item_value {
	display: block;
	text-align: center;
	color: #2E2E2E;
}

.event_item_owner_container {
	max-width: 350px;
}

.event_item_owner_value_container {
	display: flex;
	flex-direction: row;
}

.event_item_owner_value_ava {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

.event_item_owner_value_name {
	max-width: cacl(100% - 40px);
	overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

.event_item_date_start {
	margin-bottom: 10px;
}

.event_item_date_container .date_value {
	padding-left: 10px;
}

.event_item_menu {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 0px;
	right: -40px;
	transition: .2s;
	width: 60px;
	height: 100%;
}

.show_event_menu_container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 20px;
	height: 100%;
	cursor: pointer;
	background: #01A9DB;
}

.show_event_menu_container_open {
	right: 0px;
}

.show_event_menu_icon_open {
	transform: rotate(-180deg);
}

.event_item_menu > ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	width: 40px;
	height: calc(100% - 10px);
	margin: 0px;
	padding: 5px 0px;
	background: #FFF8DC;
}

.event_item_menu > ul li {
	margin: 0px;
	padding: 0px;
}

.event_item_menu > ul img {
	height: 23px;
}

.show_event_menu_box {
	position: relative;
	height: 18px;
	width: 18px;
}

.up_menu_box_item {
	display: block;
	position: absolute;
	top: 0px;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background: #5A489F;
	transition: .2s;
	transform: rotate(0deg);
}

.middle_menu_box_item {
	display: block;
	position: absolute;
	top: 7px;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background: #5A489F;
	transition: .2s;
	transform: rotate(0deg);
}

.bottom_menu_box_item {
	display: block;
	position: absolute;
	bottom: 0px;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background: #5A489F;
	transition: .2s;
	opacity: 1;
}

.up_menu_box_item_open {
	transform: rotate(45deg);
	top: 7px;
}

.middle_menu_box_item_open {
	transform: rotate(-45deg);
}

.bottom_menu_box_item_open {
	opacity: 0;
}

.invite_status_accept, .item_view_report_but, .task_accepted_status, .task_completed_status {
	color: #0DD058 !important;
}

.invite_status_decline, .item_add_report_but, .task_rejected_status, .task_overdue_status {
	color: #FE2E2E !important;
}

.invite_status_viewed, .task_not_reviewed_status, .task_not_completed_status {
	color: #FF8000 !important;
}

.entity_accept_invite_button, .entity_decline_invite_button, .entity_accept_task_button, .entity_reject_task_button {
	cursor: pointer;
}

.delete_event_item_icon_container {
	cursor: pointer;
}

.not_viewed_invite {
	background: #E0F2F7;
}

.task_history_item_container {
	padding: 10px 0px;
	font-size: 11pt;
	border-bottom: 1px solid #BDBDBD;
}

.history_status_date_container {
	color: #5A489F;
}

.task_history_note_container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	background: #EFF2FB;
	border-radius: 3px;
	padding: 5px;
}

.task_history_user_data_container {
	padding: 5px 0px;
}

.task_history_user_data_container > a {
	display: flex;
    flex-direction: row;
}

.task_history_user_data_ava {
	height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.task_history_user_data_name {
	/*overflow: hidden;
    text-overflow: ellipsis;*/
    word-break: break-all;
    align-self: center;
}

.task_history_note_content_container {
	padding: 5px 0px 0px 0px;
	text-align: justify;
}

.task_history_note_label {
	color: #5A489F;
	margin-bottom: 5px;
}

.task_name_container {
    margin: 10px 10px 0px 10px;
    display: inline-block;
    background: #EFF2FB;
    box-shadow: 0 1px 6px rgb(125 122 128);
    border-radius: 5px;
    padding: 10px;
    font-size: 14pt;
    color: #2E2E2E;
}

.task_history_video_container {
	display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.task_history_photo_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 0px 10px;
}

.task_history_item_video_container {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.task_history_item_photo_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.task_history_item_document_container {
	width: 100%;
	/*padding: 0px 10px;*/
}

.task_history_document_container {
	width: 100%;
	padding: 0px 10px;
}

@media screen and (max-width: 820px) {

	.main_box {
		width: 100%;
		padding: 0;
	}

	.event_menu_container {
		border-radius: 0px;
		right: 100%;
		z-index: 2;
	}

	.event_content_container {
		font-size: 16pt;
		margin-left: 0px;
		width: 100%;
	}

	.event_content_title {
		display: block;
		position: fixed;
		height: 25px;
		font-size: 16pt;
		padding: 10px 0px;
		z-index: 1;
	}

	.event_content_list {
		margin-top: 45px;
	}

	.task_name_container {
		margin-top: 55px;
	}

	.event_menu_icon_container {
		pointer-events: auto;
		opacity: 1;
		z-index: 2;
	}

	.no_events_title {
	    padding-top: 15px;
	}

}

@media screen and (max-height: 660px) {
	.event_menu_container {
		position: absolute;
		z-index: 2;
		overflow-y: auto;
		overflow-x: auto;
	}

	.menu_container_active {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.event_content_title {
		position: absolute;
	}

	.no_events_title {
	    padding-top: 15px;
	}

	.event_content_container {
		min-height: calc(100vh - 100px);
	}

	.main_box {
		min-height: calc(100vh - 100px);
	}
}

@media screen and (max-height: 480px) {
	.event_content_container {
		min-height: calc(100vh - 80px);
	}

	.main_box {
		min-height: calc(100vh - 80px);
	}
}