.content_wrapper {
	position: relative;
	text-align: center;
	font-size: 0;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	display: inline-block;
	/*min-height: calc(100vh - 142px);*/
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px 0px;
	font-size: 12pt;
	overflow-y: hidden;
	font-size: 0;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	border-radius: 5px;
	background: #FFF;
}

.event_data_container {
	display: flex;
	flex-direction: column;
	font-size: 12pt;
}

.entity_header {
	text-align: center;
	font-size: 16pt;
	color: #4A589F;
	padding: 3px;
	border-bottom: 1px solid #4A589F;
}

.entity_name_container {
	font-size: 22pt;
	color: #2E2E2E;
	margin: 10px 0px;
}

.entity_date_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.entity_date_box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.entity_date_start, .entity_date_end {
	background: #EFF2FB;
    box-shadow: 0 1px 6px rgb(125 122 128);
    border-radius: 5px;
    padding: 10px;
    font-size: 14pt;
    color: #2E2E2E;
}

.date_hyphen {
	margin: 0px 7px;
	font-size: 16pt;
}

.entity_data_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.entity_data_row:nth-child(odd) {
	background: #DBE8F6;
}

.entity_data_row:nth-child(even) {
	background: #EFF2FB;
}

.entity_data_row:not(:last-child) {
	border-bottom: 1px solid #FFF;
}

.entity_data_list_container {
	border-radius: 5px;
	overflow: hidden;
}

.entity_data_row_item_label {
	color: #5A489F;
	font-size: 14pt;
	min-width: 205px;
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
}

.entity_data_row_item_value {
	width: 70%;
	padding: 10px;
	box-sizing: border-box;
	color: #2E2E2E;
}

.entity_button_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px 0px;
}

.entity_button_container a:not(:first-child) {
	margin-left: 10px;
}

.entity_button_container span:not(:first-child) {
	margin-left: 10px;
}

.entity_button_container span, .add_guest_event_but, .task_full_history_but > a {
	display: block;
	padding: 7px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 11pt;
	transition: .2s;
	box-shadow: none;
}

.entity_edit_button, .add_guest_event_but, .entity_accept_invite_button, .task_edit_report_button, .task_full_history_but > a {
	color: #0489B1;
}

.entity_edit_button:hover, .add_guest_event_but:hover, .entity_accept_invite_button:hover, .task_edit_report_button:hover {
	box-shadow: 0 0 5px 1px rgb(4 137 177);
}

.entity_delete_button, .entity_decline_invite_button, .entity_status_overdue {
	color: #EA5F5F;
}

.entity_delete_button:hover, .entity_decline_invite_button:hover {
	box-shadow: 0 0 5px 1px rgb(234 95 95);
}

.entity_show_report_button, .task_complete_button, .task_accepted_status, .entity_accept_task_button {
	color: #0DD058;
}

.entity_show_report_button:hover, .task_complete_button:hover, .entity_accept_task_button:hover {
	box-shadow: 0 0 5px 1px rgb(13 208 88);
}

.entity_add_report_button, .task_not_reviewed_status, .task_not_viewed_status, .entity_reject_task_button {
	color: #FF8000;
}

.entity_add_report_button:hover, .entity_reject_task_button:hover {
	box-shadow: 0 0 5px 1px rgb(255 128 0);
}

.entity_status_scheduled {
	color: #FF8000;
}

.entity_status_current, .invite_status_accept, .task_viewed_status {
	color: #0DD058;
}

.entity_status_completed {
	color: #0489B1;
}

.invite_status_decline, .task_rejected_status {
	color: #FE2E2E !important;
}

.invite_status_viewed {
	color: #FF8000 !important;
}

.entity_guest_container, .task_history_container {
	margin-top: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #0489B1;
	padding: 10px;
}

.entity_guest_title, .task_history_title_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #5A489F;
	font-size: 14pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #0489B1;
}

.create_event_field_row, .create_report_field_row, .create_task_history_field_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.create_event_field_label, .create_report_field_label, .create_task_history_field_label {
	color: #5A489F;
	font-size: 14pt;
	box-sizing: border-box;
	padding: 10px;
	width: 30%;
}

.create_event_field_value, .create_report_field_value, .create_task_history_field_value {
	box-sizing: border-box;
	padding: 10px;
	width: 70%;
}

.create_report_field_label, .create_report_field_value, .create_task_history_field_label, .create_task_history_field_value {
	width: 100%;
}

.create_report_field_label_photo, .create_task_history_field_label_photo, .create_task_history_field_label_document{
	padding-top: 0px;
	margin-top: 15px;
}

.create_report_field_value, .create_task_history_field_value {
	padding-top: 0px;
	padding-bottom: 0px;
}

.create_event_field {
	display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 12pt sans-serif;
    outline: none;
    padding: 0px 5px;
    box-sizing: border-box;
}

.create_event_field_value label, .create_report_field_value label, .create_task_history_field_value label {
	font-size: 12pt;
}

.column_field_list {
	display: flex;
	flex-direction: column;
}

.row_field_list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.column_field_list > span:first-child {
	margin-bottom: 10px;
}

.row_field_list > span:first-child {
	margin-right: 10px;
	font-size: 12pt;
}

.row_field_list span:last-child {
	flex: 1 1 auto;
}

.column_filed_list {
	display: flex;
	flex-direction: column;
}

.create_event_textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #FAFAFA;
    resize: none;
}

.align_top {
	align-items: flex-start !important;
}

.create_event_date_field_container {
	display: flex;
	flex-direction: row;
}

.create_event_date_field {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 25px;
    width: 120px;
    line-height: 25px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 12pt sans-serif;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer;
}

.create_event_time_field {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 25px;
    width: 70px;
    line-height: 25px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 12pt sans-serif;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.calendar_icon_container, .time_icon_container {
	position: relative;
}

.calendar_icon, .time_icon {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.create_event_button_container {
	text-align: right;
	margin-top: 15px;
}

.create_event_button_submit {
	height: 30px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 3px;
    background: #0DD058;
    border: none;
    color: #FFFFFF;
    outline: none;
    transition: .2s;
}

.create_event_button_submit:hover {
	background: #24AF0C;
}

.entity_data_owner_value_container {
	display: flex;
	flex-direction: row;
}

.entity_data_owner_value_ava {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

.entity_data_owner_value_name {
	/*max-width: cacl(100% - 40px);*/
	overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11pt;
}

.back_to_event_list {
	height: 16px;
	font-size: 11pt;
	cursor: pointer;
	margin: 1px 0;
	box-sizing: border-box;
}

.back_to_event_list > a {
	color: #5A489F;
} 

.back_to_event_list:hover {
	border-bottom: 1px solid #5A489F;
}

.create_report_load_video, .create_report_load_photo, .create_task_history_load_video, .create_task_history_load_photo, .create_task_history_load_document {
	display: inline-block;
	background: #0489B1;
	color: #FFF;
	transition: .2s;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	font-size: 11pt;
}

.create_report_load_video:hover, .create_report_load_photo:hover, .create_task_history_load_video:hover, .create_task_history_load_photo:hover {
	background: #086A87;
}

.report_note_field, .task_history_note_field {
	width: 100%;
	border-top: 1px solid #848484;
	border-bottom: 1px solid #848484;
	font-size: 12pt;
	outline: none;
	box-sizing: border-box;
	padding: 4px 10px;
	margin-top: 15px;
	resize: none;
	min-height: 60px;
	line-height: 20px;
	height: auto;
}

.report_note_field:empty:before, .task_history_note_field:empty:before {
    content: attr(data-placeholder);
    color: #848484;
    font-style: italic;
    cursor: text;
}

/*.note_label_container {
	display: inline-block;
	position: relative;
}

.notice_icon_container {
	position: absolute;
	display: block;
	bottom: calc(50% - 8px);
	left: calc(100% + 3px);
	font-size: 11pt;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.notice_icon {
	height: 16px;
	width: 16px;
}

.notice_label_message {
	position: absolute;
	bottom: calc(100% + 8px);
	left: calc(100% - 20px);
	display: inline-block;
	background: #FFF;
	padding: 3px;
	transition: .2s;
	white-space: nowrap;
	border: 2px solid #0489B1;
	border-radius: 3px;
	color: #0489B1;
	cursor: default;
}

.notice_label_message:after, .notice_label_message:before {
	content: ""; 
	border: solid transparent;
	position: absolute;  
	top: 100%;
	left: 6px;
}

.notice_label_message:after {
	border-top-color: #fff;
	border-width: 5px;
	margin-left: 0px;
}

.notice_label_message:before {
	border-top-color: #0489B1;
	border-width: 8px;
	margin-left: -3px;
}*/

.report_video_container, .task_history_video_container {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 0px 10px;
}

.report_details_video_container, .report_details_photo_container {
	display: flex;
	/*justify-content: center;*/
	width: 100%;
	text-align: center;
}

.report_details_video_container {
	justify-content: center;
}

.report_details_photo_container {
	flex-wrap: wrap;
}

.report_photo_container, .task_history_photo_container {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	width: 100%;
	padding: 0px 10px;
}

.task_history_item_video_container {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.task_history_item_photo_container {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	width: 100%;
}

.task_history_item_document_container {
	width: 100%;
	/*padding: 0px 10px;*/
}

.create_report_button_box, .create_task_history_button_box {
	margin-top: 15px;
	text-align: right;
}

.report_details_note_container {
	font-size: 12pt;
	margin-bottom: 5px;
	text-align: justify;
}

.report_details_content_container {
	padding: 5px 0px;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}

.report_details_comment_container {
	font-size: 12pt;
	margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.task_user_data_value_container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.task_user_data_value_ava {
	height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.task_user_data_value_name {
	overflow: hidden;
    text-overflow: ellipsis;
}

.task_history_item_container {
	padding: 10px 0px;
	font-size: 11pt;
	border-bottom: 1px solid #BDBDBD;
}

.history_status_date_container {
	color: #5A489F;
}

.task_history_note_container {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	background: #EFF2FB;
	border-radius: 3px;
	padding: 5px;
}

.task_history_user_data_container {
	padding: 5px 0px;
}

.task_history_user_data_container > a {
	display: flex;
    flex-direction: row;
}

.task_history_user_data_ava {
	height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.task_history_user_data_name {
	/*overflow: hidden;
    text-overflow: ellipsis;*/
    word-break: break-all;
    align-self: center;
}

.task_history_note_content_container {
	padding: 5px 0px 0px 0px;
	text-align: justify;
}

.task_history_note_label {
	color: #5A489F;
	margin-bottom: 5px;
}

.entity_fileList_container {
	margin-top: 15px;
}

.task_history_document_container {
	width: 100%;
	padding: 0px 10px;
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.comment_field_container_visible {
		width: calc(100vw - 10px);
	}
}

@media screen and (max-width: 695px) {
	.entity_data_row_item_label, .create_event_field_label, .create_report_field_label, .create_task_history_field_label {
		border-right: none;
		width: 100%;
	}

	.entity_data_row_item_value {
		padding-left: 40px;
		padding-top: 0px;
		width: 100%;
	}

	.create_event_field_value, .create_report_field_value, .create_task_history_field_value {
		padding-top: 0px;
		width: 100%;
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}