.content_wrapper {
	text-align: center;
	font-size: 0;
	position: relative;
	min-width: 360px;
	overflow-y: hidden;
	background: #EEF1F4;
}

.main_box{
	position: relative;
	min-height: calc(100vh - 142px);
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px auto;
	font-size: 12pt;
	overflow-y: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	background: #FFF;
}

.feedback_header {
	text-align: center;
	font-size: 16pt;
	color: #4A589F;
	padding: 3px;
	border-bottom: 1px solid #4A589F;
}

.feedback_field_row {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}

.feedback_field_label {
	color: #5A489F;
	font-size: 14pt;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

.feedback_field_value {
	box-sizing: border-box;
	padding: 0px 10px 10px 10px;
	width: 100%;
}

.feedback_field {
	display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
    background-color: #FAFAFA;
    font: 12pt sans-serif;
    outline: none;
    padding: 0px 5px;
    box-sizing: border-box;
}

.feedback_textarea {
	width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    background: #FAFAFA;
    font: 12pt sans-serif;
    resize: none;
}

.feedback_button_container {
	text-align: right;
    margin-top: 15px;
    padding: 0px 10px;
}

.feedback_button_submit {
	height: 30px;
    font-size: 12pt;
    cursor: pointer;
    border-radius: 3px;
    background: #0DD058;
    border: none;
    color: #FFFFFF;
    outline: none;
    transition: .2s;
}

.feedback_button_submit:hover {
	background: #24AF0C;
}

.align_top {
    align-items: flex-start !important;
}

.feedback_successfully_sent {
    padding: 7px;
    border-radius: 3px;
    font-size: 12pt;
    transition: .2s;
    color: #0DD058;
    box-shadow: 0 0 5px 1px rgb(13 208 88);
    text-align: center;
    margin-top: 15px;
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		min-height: calc(100vh - 122px);
		padding: 10px 20px;
		margin: 0px auto;
		box-shadow: none;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}