.content_wrapper {
	position: relative;
	text-align: center;
	font-size: 0;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	display: inline-block;
	/*min-height: calc(100vh - 142px);*/
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px 0px;
	font-size: 12pt;
	overflow-y: hidden;
	font-size: 0;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	border-radius: 5px;
	background: #FFF;
}

.file_settings_header {
    text-align: center;
    font-size: 16pt;
    color: #4A589F;
    padding: 3px;
    border-bottom: 1px solid #4A589F;
}

.file_settings_file_container {
	margin: 5px 0px;
}

.file_settings_file_container .video_file_in_message_container {
	margin: 0px;
}

.file_settings_name_container {
	font-size: 14pt;
	color: #2E2E2E;
	word-break: break-all;
}

.file_settings_data_container {
	margin-top: 10px;
}

.file_settings_data_block {
	border-radius: 5px;
	overflow: hidden;
}

.entity_settings_data_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.entity_settings_data_row:nth-child(odd) {
	background: #DBE8F6;
}

.entity_settings_data_row:nth-child(even) {
	background: #EFF2FB;
}

.entity_settings_data_row_label {
	color: #5A489F;
	font-size: 14pt;
	min-width: 205px;
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
}

.entity_settings_data_row_value {
	width: 70%;
	padding: 10px;
	box-sizing: border-box;
	color: #2E2E2E;
	font-size: 12pt;
}

.entity_settings_href {
	color: #2E2E2E;
	transition: .2s;
}

.entity_settings_href:hover {
	color: #0489B1;
}

.entity_settings_privacy_action_button {
	display: inline-block;
    padding: 5px;
    color: #FFF;
    background: #0489B1;
    border-radius: 3px;
    margin: 3px 0;
    cursor: pointer;
    font-size: 11pt;
    transition: .2s;
}

.entity_settings_privacy_action_button:hover {
	background: #086A87;
}

.user_file_access_container {
	margin-top: 15px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #0489B1;
	padding: 10px;
}

.user_file_access_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #5A489F;
	font-size: 14pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #0489B1;
}

.add_user_file_access_but {
	padding: 7px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 11pt;
	transition: .2s;
	box-shadow: none;
	color: #0489B1;
}

.add_chat_member_but:hover {
	box-shadow: 0 0 5px 1px rgb(4 137 177);
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 695px) {
	.entity_settings_data_row_label {
		border-right: none;
		width: 100%;
	}

	.entity_settings_data_row_value {
		padding-left: 40px;
		padding-top: 0px;
		width: 100%;
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}