.content_wrapper {
	text-align: left;
	font-size: 0;
	position: relative;
}

.left_box, .main_box, .right_box {
	display: inline-block;
	font-size: 10pt;
	vertical-align:top;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	margin: 10px;
	padding: 5px;
}

.main_box {
	width: calc(100% - 240px);
	font: 12pt sans-serif;
	position: relative;
	min-height: calc(100vh - 122px);
	left: 220px;
	top: 0px;
	background: #FFF;
}

.left_box, .right_box{
	width: 200px;
	background: #FFF;
}

.left_box {
	position: absolute;
	height: calc(100% - 20px);
	left: 0px;
	top: 0px;
}

.right_box {
	display: none;
	position: absolute;
	height: calc(100% - 20px);
	right: 0px;
	top: 0px;
}

.content_start_page {
	margin: 0px;
	text-indent: 15px;
	line-height: 1.5;
}

.content_start_page > span {
	color: #0174DF;
}

.holiday_name {
	color: #FE642E;
}

.holiday_name_search > a {
	color: #FE642E;
	cursor: pointer;
}

.holiday_box_search {
	border-bottom-style: solid;
	border-bottom-color: #BDBDBD;
	border-bottom-width: 1px;
}

.holiday_name_search > a:hover {
	color: #FF0000;
}

.holiday_date {
	color: #013ADF;
}

.holiday_description {
	text-align: justify;
	margin: 10px 0;
}

.origin {
	font-size: 10pt;
	text-align: center;
	border-radius: 3px;
	padding: 5px 10px;
	background: #DBE8F6;
	float: right;
}

.origin >span {
	color: #2E2E2E;
}

.origin_link {
	color: #2E2EFE;
}

.origin_link:hover {
	color: #D358F7;
}

.holiday_search_select, .holiday_search_input, .holiday_search_submit {
	display: block;
	width: 170px;
	height: 30px;
	margin: 10px 8px;
	box-sizing: border-box;
	border: 1px solid #5A489F;
	border-radius: 3px;
	background-color: #FAFAFA;
	font: 12pt sans-serif;
	outline: none;
	transition: .1s;
}

.holiday_search_submit {
	background: #90EE90;
	color: #2F4F4F;
	border: none;
	cursor: pointer;
}

.holiday_search_select:hover, .holiday_search_input:hover {
	border: 1px solid #FE642E;
}

.holiday_search_submit:hover {
	background: #24AF0C;
	color: #E6E6E6;
}
.holiday_search_submit:focus {
	background: #24AF0C;
	color: #E6E6E6;
}

.holiday_search_input {
	padding: 0 5px;
}

.not_active_element {
	opacity: .5;
	pointer-events: none;
}

.holiday_image_container {
	display: flex;
	max-width: 350px;
	max-height: 350px;
	align-items: center;
	justify-content: center;
	margin: 0 20px 20px 0;
	float: left;
}

.holiday_image {
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width: 900px) {

	.main_box {
		width: calc(100% - 240px);
	}
	
	.right_box {
		display: none;
	}
}

@media screen and (max-width: 650px) {

	.main_box {
		width: 100%;
		left: 0px;
		margin: 10px 0;
	}
	
	.left_box {
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: 100px;
		margin: 10px 0;
	}
	
	.holiday_search_box {
		max-width: 380px;
		min-width: 310px;
		margin: auto;
	}
	
	h2 {
		text-align: center;
	}
	
	.holiday_search_select, .holiday_search_input {
		margin-top: 0;
		font: 11pt sans-serif;
		width: 44%;
	}
	
	.holiday_search_select {
		float: left;
	}
	
	.holiday_search_input {
		float: right;
	}
	
	.holiday_search_submit {
		clear: both;
		margin: auto;
	}
}

@media screen and (max-width: 550px) {

	.holiday_image_container {
		display: flex;
		max-width: 350px;
		max-height: 350px;
		align-items: center;
		justify-content: center;
		margin: 0 auto 20px auto;
		float: unset;
	}

}