html, body {
	/*overflow-y: hidden;*/
}

.content_wrapper {
	text-align: center;
	font-size: 0;
	position: relative;
	min-width: 360px;
	overflow-y: hidden;
}

.main_box {
	position: relative;
	display: inline-block;
	min-height: calc(100vh - 122px);
	width: 900px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: left;
	margin: 10px 0;
	padding: 10px;
	font-size: 12pt;
	overflow-y: hidden;
	background: #FFF;
}

.messages_block {
	height: calc(100vh - 168px);
	overflow-y: auto;
	scrollbar-width: thin;
}

.messages_block_with_text_field {
	--heightBlock: 100vh - 228px;
	--transitionEl: 0s;
	transition: var(--transitionEl);
	height: calc(var(--heightBlock));
}

.messages_block_with_text_field_emoji_active {
	height: calc(100vh - 328px) !important;
}

.search_messages_block {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 2px 0;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	height: 18px;
}

.write_message_box {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 20px);
	transition: .3s;
}

.write_message_text_box {
	min-height: 30px;
	max-height: 30vh;
	width: 100%;
	transition: .3s;
}

.text_message {
	height: 100%;
	width: 100%;
	padding: 5px;
	font-size: 12pt;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #000000;
	max-height: 30vh;
	overflow-y: auto;
	transition: .3s;
}

.text_message:focus {
	border: 1px solid #000000;
}

.write_message_button_box {
	height: 30px;
	width: 100%;
}

.write_message_send_message_button {
	width: 100px;
	height: 22px;
	margin: 8px 0px 0px 0px;
	float: right;
	padding: 0px;
	background: #90EE90;
	border-radius: 7px;
	border: none;
	outline: none;
	font: 11pt sans-serif;
	cursor: pointer;
	transition: .2s;
}

.write_message_send_message_button:hover {
	background: #24AF0C;
	color: #E6E6E6;
}

.search_messages_field {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
	background: url(/img/icon_search.png) no-repeat 0 50%;
	background-size: contain;
    vertical-align: top; /* Выравнивание по верху */
	padding: 0 0 0 20px;
	font: 12pt sans-serif;
	flex: 1 1 auto;
}

.create_chat_button {
	height: 14px;
	padding-left: 5px;
	color: #5A489F;
	font-size: 9pt;
	cursor: pointer;
	margin: 1px 0;
	font-stretch: ultra-condensed;
	text-align: center;
    box-sizing: border-box;
}

.create_chat_button:hover {
	border-bottom: 1px solid #5A489F;
}

.back_to_all_correspondence_button {
	/*position: absolute;*/
	left: 0px;
	height: 14px;
	width: 63px;
	float: left;
	font-size: 10pt;
	cursor: pointer;
	margin: 1px 0;
}

.back_to_all_correspondence_button > a {
	color: #5A489F;
}

.back_to_all_correspondence_button:hover {
	border-bottom: 1px solid #6A0592;
}

.correspondence_fullname_or_chat_room {
	height: 16px;
	width: calc(100% - 70px); 
	font-size: 10pt;
	margin: 1px 70px;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
}

.dialog_chat_item {
	position: relative;
	padding: 10px 3px;
	min-height: 75px;
	transition: .1s;
	/*cursor: pointer;*/
	font-size: 0pt;
}

.dialog_chat_item:hover .delete_correspondence {
	pointer-events: auto;
	opacity: 1;
}

.dialog_chat_item_not_read_message {
	background: #E0F2F7;
}

.dialog_chat_item:hover {
	background: #F2F2F2;
}

.item_box_user_not_active {
	/* opacity: .3; */
	pointer-events: none;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
	height: 0px;
	padding: 0px;
	border: none !important;
}

.dialog_chat_border {
	border-bottom-style: solid;
	border-bottom-color: #BDBDBD;
	border-bottom-width: 1px;
}

.ava_box_dialog_chat, .user_name_and_date_box_dialog_chat, .text_box_dialog_chat {
	height: 75px;
	display: inline-block;
	vertical-align: middle;
}

.ava_box_dialog_chat {
	width: 75px;
}

.ava_dialog_chat {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.ava_self_message_dialog_chat {
	float: left;
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.user_name_and_date_box_dialog_chat {
	height: 100%;
	font-size: 10pt;
	margin: 0px 15px;
	width: 150px;
}

.user_name_box_dialog_chat, .date_box_dialog_chat {
	height: 50%;
	/*width: 150px;*/
}

.user_name_box_dialog_chat > span, .date_box_dialog_chat > span {
	display: block;
	width: 100%;
}

.user_name_box_dialog_chat > span {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date_box_dialog_chat > span {
	color: #848484;
}

.text_box_dialog_chat {
	position: relative;
	top: 5px;
	height: 63px;
	width: calc(100% - 255px);
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #C0DDF0;
	border-radius: 3px;
}

.text_dialog_chat {
	display: block;
	color: #848484;
	font-size: 10pt;
	height: 100%;
	width: calc(100% - 18px);
	/* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
	text-align: justify;
}

.text_self_dialog_chat_container {
	float: left;
	height: 100%;
	width: calc(100% - 45px);
}

.text_not_self_dialog_chat_container {
	float: left;
	height: 100%;
	width: calc(100% - 10px);
}

.text_self_dialog_chat {
	margin-left: 10px;
	height: 100%;
	width: 100%;
	color: #848484;
	font-size: 10pt;
    overflow: hidden;
    text-overflow: ellipsis;
	text-align: justify;
}

.new_count_container {
	position: absolute;
	padding-top: 3px;
	right: 25px;
	top: 0px;
	text-align: right;
}

.new_messages_count, .new_attachments_count {
	padding: 1px;
	border-radius: 5px;
	color: #FFFFFF;
	background: #649BF3;
	font-size: 9pt;
}

.new_messages_file_count {
	position: absolute;
	right: 3px;
	top: 25px;
	padding: 1px;
	max-width: 60px;
	text-align: right;
	border-radius: 5px;
	color: #FFFFFF;
	background: #649BF3;
	font-size: 9pt;
}

.message_date_box {
	height: 36px;
	width: 100%;
	text-align: center;
}

.message_date {
	display: inline-block;
	text-align: center;
	width: 200px;
	font-size: 10pt;
	margin: 10px 0px;
	color: #848484;
	/* border-top: 1px solid #848484; */
	border-bottom: 1px solid #BDBDBD;
}

.message_item_box {
	/* margin: 0px 0px 15px 0px; */
	padding: 10px 0px 15px 0px;
	border-bottom: 1px solid #BDBDBD;
}

.message_item_box:hover .menu_message_container {
	pointer-events: auto;
	opacity: 1;
}

.message_title {
	height: 40px;
	/* border: 1px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 3px; */
}

.message_ava_box, .user_name_time_box {
	display: inline-block;
	vertical-align:  top;
	height: 40px;
	width: calc(100% - 170px);
	overflow: hidden;
    text-overflow: ellipsis;
}

.user_name_time_box {
	margin-left: 10px;
	/*width: calc(100% - 72px);*/
	max-width: cacl(100% - 100px);
}

.message_ava_box {
	height: 40px;
	width: 36px;
}

.message_ava {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	margin: 2px 0px;
	cursor: pointer;
}

.user_name_time_box > span {
	display: block;
	height: 16px;
	margin: 2px 0px;
	font-size: 10pt;
}

.user_name_time_box > a {
	font-size: 10pt;
}

.user_name_time_box > a > span {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	cursor: pointer;
	color: #5A489F;
}

.user_name_time_box > span:nth-child(2) {
	color: #6E6E6E;
}

.message_box {
	margin-top: 10px;
	position: relative;
}

.message_text {
	font-size: 11pt;
	padding: 5px;
	margin-left: 46px;
	overflow:hidden;
	word-break: break-all;
	box-sizing: border-box;
    /* border: 3px solid #819FF7; */
	/*border-left: 3px solid #819FF7;*/
	/* border-right: 3px solid #819FF7; */
    /* border-radius: 3px; */
	min-height: 20px;
}

.massage_file_container {
	margin-left: 46px;
	padding: 15px 5px;
}

.file_icon_for_message_message_page {
	margin-top: 8px !important;
}

.important_message_container {
	display: inline-block;
	float: right;
	position: relative;
	height: 100%;
	width: 26px;
	margin-right: 10px;
}

.important_message_icon {
	height: 26px;
	width: 26px;
	/*padding: 0px 0px 14px 0px;*/
}

.menu_message_container {
	display: inline-block;
	float: right;
	position: relative;
	height: 16px;
	width: 26px;
	pointer-events: none;
	opacity: 0;
	margin: 4px 0px 20px 0px;
	transition: .2s;
}

.menu_message_icon {
	height: 16px;
	width: 22px;
	cursor: pointer;
}

.menu_message_list_container {
	position: absolute;
	background: #D8D8D8;
	border-radius: 3px;
	right: 0px;
	top: 17px;
	z-index: 1;
	transition: .3s;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.menu_message_list {
	padding: 0px;
    margin: 0px;
}

.menu_message_item {
	display: block;
    padding: 5px 5px;
    border-radius: 3px;
    color: #5A489F;
    cursor: pointer;
    list-style-type: none;
    font-size: 11pt;
    font-stretch: ultra-condensed;
    white-space: nowrap;
}

.menu_message_item:hover {
	background: #BC8F8F;
}

.create_chat_title {
	text-align: center;
	color: #5A489F;
	padding: 10px 0;
	margin: 0px;
	border-bottom: 1px solid #BDBDBD;
}

.title_create_chat_label {
	color: #5A489F;
	font-size: 14pt;
	margin: 10px 0;
}

.invited_chat_content_menu {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 0pt;
}

.invited_chat_content_menu > li {
	display: inline-block;
	cursor: pointer;
	padding: 0 5px;
	box-sizing: border-box;
	font-size: 12pt;
	transition: .2s;
	border: 1px solid #BDBDBD;
	border-bottom: none;
}

.invited_chat_content_menu > li:hover {
	background: #086A87;
	color: #FFF;
}

.invited_chat_item_menu_active {
	border: none !important;
    color: #FFF;
    background: #0489B1;
}

.invited_chat_content_box {
	width: 100%;
	border: 3px solid #0489B1;
	box-sizing: border-box;
	padding: 5px;
}

.invited_added_users_container {
	height: 60vh;
}

.invited_content_block {
	height: 45vh;
}

.invited_search_block_chat_user {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 5px 5px;
	box-sizing: border-box;
	border-radius: 3px;
	/*border-top: 1px solid #5A489F;
	border-bottom: 1px solid #5A489F;*/
	box-shadow: 0 0 5px 3px rgba(90, 72, 159, 0.7);
}

.input_create_chat_name {
	width: calc(100% - 10px);
	font-size: 12pt;
	padding: 5px;
}

.chat_create_button_box {
	margin-top: 10px;
	padding-top: 10px;
	text-align: right;
	border-top: 1px solid #BDBDBD;
}

.create_chat_load_file {
	display: inline-block;
	background: #0489B1;
	color: #FFF;
	transition: .2s;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
	font-size: 11pt;
}

.create_chat_load_file:hover {
	background: #086A87;
	color: #FFF;
}

.create_chat_image_container {
	display: inline-block;
    position: relative;
    height: 195px;
    width: 160px;
    margin: 10px 0px;
}

.create_chat_upload_image {
	border-radius: 50%;
	height: 159px;
	width: 159px;
}

.delete_chat_container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 0px 0px 0px;
}

.delete_chat_button {
	padding: 7px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 11pt;
    transition: .2s;
    box-shadow: none;
    color: #EA5F5F;
	/*border-radius: 5px;
	color: #FFFFFF;
	background: #F78181;
	padding: 5px;
	cursor: pointer;
	transition: .2s;*/
}

.delete_chat_button:hover {
	/*background: #FE2E2E;*/
	box-shadow: 0 0 5px 1px rgb(234 95 95);
}

@media screen and (max-width: 900px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}

}

@media screen and (max-width: 700px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}
	
}

@media screen and (max-width: 500px) {

	.text_box_dialog_chat {
		width: 100% !important;
	}

	.user_name_and_date_box_dialog_chat {
		width: calc(100% - 105px);
	}

}

@media screen and (max-height: 480px) {
	
	.content_wrapper {
		min-height: calc(100vh - 82px);
	}
	
	.main_box {
		min-height: calc(100vh - 102px);
	}
	
	.messages_block {
		height: calc(100vh - 148px);
	}

	.messages_block_with_text_field {
		height: calc(100vh - 208px)/* !important*/;
	}
	
}