.content_wrapper {
	text-align: center;
	font-size: 0;
	position: relative;
}

.main_box{
	display: inline-block;
	min-height: calc(100vh - 122px);
	width: 900px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	box-sizing: border-box;
	text-align: left;
	margin: 10px 0;
	padding: 10px;
	font-size: 0;
	background: #FFF;
}

.block_avatar {
	float: left;
	width: 200px;
	height: 200px;
	margin: 0px;
}

.img_avatar {
	height: inherit;
	width: inherit;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
}

.profile_data {
	vertical-align: top;
	font: 12pt sans-serif;
	float: right;
	width: 680px;
	height: 150px;
	position: relative;
}

.profile_name, .profile_country_city_box {
	width: calc(100% - 22px);
	margin: 5px 10px;
}

.profile_name {
	height: 25px;
	font: bold 14pt sans-serif;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile_country_city_box {
	height: 20px;
}

.profile_country_city_caption {
	display: inline-block;
	width: 70px;
}

.profile_country_city_value {
	display: inline-block;
}

.profile_button_box {
	/*height: 33px;*/
	width: calc(100% - 220px);
	margin: 5px 10px;
	bottom: 0px;
	text-align: center;
	vertical-align: top;
	float: right;
}

.profile_button {
	display: inline-block;
	font: 10pt sans-serif;
	height: 22px;
	width: 125px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0px;
	color: #FFF;
	background: #0489B1;
	transition: .3s;
	margin: 5px 5px;
	vertical-align: middle;
}

.profile_button:hover {
	background: #086A87;
}

.unsubscribe_button {
	display: inline-block;
	font: 10pt sans-serif;
	height: 22px;
	/*min-width: 120px;*/
	width: 125px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px;
	margin: 5px 5px;
	border: 1px solid #E6E6F8;
	outline: none;
	border-radius: 3px;
	vertical-align: middle;
	transition: .3s;
	border: none;
	background: #EFF2F6;
	color: #0489B1;
}

.unsubscribe_button:hover {
	background: #C0D4EF;
}

.delete_friend_button {
	display: inline-block;
	font: 10pt sans-serif;
	font-stretch: semi-condensed;
	height: 22px;
	/*min-width: 120px;*/
	width: 125px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px;
	margin: 5px 5px;
	border: 1px solid #E6E6F8;
	outline: none;
	border-radius: 3px;
	vertical-align: middle;
	transition: .3s;
	border: none;
	/* background: #E6E6F8; */
	background: #EFF2F6;
	color: #0489B1;
}

.delete_friend_button:hover {
	background: #C0D4EF;
}

.request_friend_hide {
	/* transform: scaleX(0); */
	width: 0px;
	min-width: 0px;
	opacity: 0;
	margin: 0px;
}

.p_content_box {
	width: 100%;
	position: relative;
	clear: both;
	padding-top: 10px;
	min-height: calc(100vh - 351px);
}

.p_content_menu {
	display: block;
	width: 100%;
	height: 20px;
	padding: 0px;
}

.p_content_menu > li {
	display: inline-block;
	width: 70px;
	height: 20px;
	padding: 2px 0;
	font: 10pt sans-serif;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	transition: .3s;
}

.friends_menu, .friends_menu_self {
	width: 100%;
	height: 20px;
	padding: 0px;
	margin: 0 0 0 0px;
	font-size: 0;
	border-top: 1px solid #BDBDBD;
	box-sizing: border-box;
}

.friends_menu > li {
	display: inline-block;
	position: relative;
	width: calc(100% / 2);
	height: 20px;
	padding: 2px 0;
	line-height: 20px;
	border-bottom: 1px solid #BDBDBD;
	box-sizing: border-box;
	font: 10pt sans-serif;
	text-align: center;
	cursor: pointer;
}

.friends_menu_self > li {
	display: inline-block;
	position: relative;
	width: calc(100% / 3);
	height: 20px;
	padding: 2px 0;
	border-bottom: 1px solid #BDBDBD;
	box-sizing: border-box;
	font: 10pt sans-serif;
	text-align: center;
	cursor: pointer;
}

.friends_menu > li:not(:last-child) {
  border-right: 1px solid #BDBDBD;
}

.friends_menu_self > li:not(:last-child) {
  border-right: 1px solid #BDBDBD;
}

.p_active_submenu_item {
	color: #FFF;
	background: #0489B1;
}

.friend_content {
	padding: 3px;
}

.burger_user_friend_menu_icon_box {
	position: absolute;
	right: 0px;
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	padding: 5px;
	cursor: pointer;
}

.burger_friend_menu_icon {
	height: 22px;
	width: 22px;
	/* margin: 3px 5px 3px 0; */
}

.burger_user_friend_menu {
	position: absolute;
	right: 0px;
	top: 30px;
	background: #EFF2F6;
	border-radius: 1px;
	border: 1px solid #0489B1;
	transition: .3s;
	font: 10pt sans-serif;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
}

.burger_user_friend_menu_item {
	display: block;
	padding: 3px;
	border-radius: 1px;
	color: #0489B1;
	cursor: pointer;
	white-space: nowrap;
}

.burger_user_friend_menu_item:hover {
	background: #C0D4EF;
}

.p_content_menu > li:hover, .friends_menu > li:hover, .friends_menu_self > li:hover {
	background: #086A87;
	color: #FFF;
}

.p_content {
	width: 100%;
	border: 3px solid #0489B1;
	box-sizing: border-box;
	min-height: calc(100vh - 371px);
}

.p_content > div {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 377px);
	/* font: 12pt sans-serif; */
}

.not_active_block {
	display: none !important;
}

.p_active_menu_item {
	border: none !important;
	color: #FFF;
	background: #0489B1;
}

.add_button_about_self {
	display: block;
	float: right;
	color: #848484;
	text-decoration: underline;
	font: 10pt sans-serif;
	font-style: italic;
	cursor: pointer;
	margin: 3px 3px 0 0;
}

.add_button_about_self:hover {
	color: #424242;
}

.button_block_about_self {
	width: 100%;
	height: 20px;
}

.cancel_button_about_self, .save_button_about_self {
	text-decoration: underline;
	font: 11pt sans-serif;
	font-style: italic;
	cursor: pointer;
	float: right;
	height: 20px;
	margin: 0 10px;
}

.cancel_button_about_self {
	color: #E34525;
}

.save_button_about_self {
	color: #03A752;
}

.cancel_button_about_self:hover {
	color: #9D1E04;
}

.save_button_about_self:hover {
	color: #1B7948;
}

.about_self {
	width: calc(100% - 10px);
	padding: 5px;
	clear: both;
	word-wrap: break-word;
	white-space: normal;
}

.paragraph_about_self {
	margin: 2px 0;
	text-indent: 15px;
	font: 11pt sans-serif;
}

.field_add_about_self {
	width: calc(100% - 6px);
	padding: 5px;
	min-height: calc(100vh - 408px);
	box-sizing: border-box;
	border-radius: 3px;
	margin: 3px;
	resize: none;
}

.menu_box_active {
	transform:         scaleY(1);
	-webkit-transform: scaleY(1);
    -moz-transform:    scaleY(1);
    -ms-transform:     scaleY(1);
    -o-transform:      scaleY(1);
	
}

.not_found_block {
	text-align: center;
}

.not_found_block > h3 {
	font-size: 16pt;
}

.search_field_block {
	text-align: center;
	border: 1px solid #5A489F;
	box-sizing: border-box;
	border-radius: 7px;
	background: #FAFAFA;
	margin-bottom: 15px;
}

.search_field_block > input[type="search"] {
	border-radius: 7px 0 0 7px;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    width: 100%; /* Ширина поля */
	height: 25px;
	background: url(/img/icon_search.png) no-repeat 0 50%;
	background-size: contain;
    vertical-align: top; /* Выравнивание по верху */
	padding: 0 0 0 28px;
}
   
/* .search_field_block > input[type="submit"] {
    width: 10px;
    height: 25px;
    border: none;
	outline: none;
    background: url(/img/search_go.png) no-repeat 50% 50%;
	cursor: pointer;
} */

.search_options_block_main {
	width: 100%;
	font-size: 11pt;
	border-bottom-style: solid;
	border-bottom-color: #BDBDBD;
	border-bottom-width: 1px;
	padding-bottom: 15px;
}

.search_result_block_main {
	width: 100%;
	/* border: 1px solid green;
	box-sizing: border-box; 
	margin: 0 0 15px 0; */
}

.button_wrapper_search_options {
	text-align: center;
}

.search_options_button {
	display: inline-block;
	padding: 2px;
	cursor: pointer;
	border-radius: 7px;
	width: 194px;
}

.search_options_button:hover {
	background: #BBBBF1;
}

.search_options_left_arrow, .search_options_right_arrow {
	margin: 0 10px;
	transition: .3s;
}

.search_options_left_arrow_open {
	transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.search_options_right_arrow_open {
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.fields_block_search_options_active {
	height: 22px !important;
	transform: scaleY(1) !important;
	margin-bottom: 15px;
}

.user_fields_block_search_options_active {
	height: 37px !important;
	transform: scaleY(1) !important;
}

.holiday_fields_block_search_options_active {
	height: 37px !important;
	transform: scaleY(1) !important;
}

/* .minor_field_for_search_active {
	height: 22px !important;
	transform: scaleY(1) !important;
	margin: 0 5px 15px 5px;
} */

.main_fields_search_options {
	text-align: center;
	height: 0px;
	transform: scaleY(0);
	transform-origin: 50% top;
	transition: .3s;
}

.minor_fields_search_options {
	text-align: center;
}

.f_holidays, .f_users {
	text-align: center;
	height: 0px;
	transform: scaleY(0);
	transform-origin: 50% top;
	transition: .3s;
}

.field_for_search {
	height: 22px;
	box-sizing: border-box;
	border: 1px solid #5A489F;
	border-radius: 3px;
	background-color: #FAFAFA;
	font: 11pt sans-serif;
	outline: none;
}

.f_users *, .f_holidays * {
	height: 22px;
	width: 160px;
	box-sizing: border-box;
	border: 1px solid #5A489F;
	border-radius: 3px;
	background-color: #FAFAFA;
	font: 11pt sans-serif;
	outline: none;
	/* transform: scaleY(0);
	transform-origin: 50% top; */
	margin: 0 5px 15px 5px;
	/* transition: .3s; */
}

.start_search_block {
	text-align: center;
	margin-top: 15px;
}

.start_search_button {
	width: 100px;
	height: 22px;
	color: #FFFFFF;
	background: #0DD058;
	border-radius: 7px;
	border: none;
	outline: none;
	font: 12pt sans-serif;
	cursor: pointer;
	transition: .2s;
}

.start_search_button:hover {
	background: #24AF0C;
	color: #E6E6E6;
}

.start_search_button:focus {
	background: #24AF0C;
	color: #E6E6E6;
}

.start_search_button::-moz-focus-inner {
  border: 0;
}

.search_main_result_item {
	/* width: 100%; */
	padding: 10px 3px;
	min-height: 75px;
	transition: .1s;
}

.item_box_user_not_active {
	/* opacity: .3; */
	pointer-events: none;
	transform:         scaleY(0);
	-webkit-transform: scaleY(0);
    -moz-transform:    scaleY(0);
    -ms-transform:     scaleY(0);
    -o-transform:      scaleY(0);
	transform-origin: 50% top;
	-webkit-transform-origin: 50% top;
	-moz-transform-origin: 50% top;
	-ms-transform-origin: 50% top;
	-o-transform-origin: 50% top;
	min-height: 0px !important;
	height: 0px;
	padding: 0px;
	border: none !important;
}

.new_subscriber_result_item {
	background: #E0F2F7;
}

/*.box_bottom_border {
	border-bottom-style: solid;
	border-bottom-color: #BDBDBD;
	border-bottom-width: 1px;
}*/

.main_query_h3_user_search_result, .main_query_h3_holiday_search_result {
	display: inline-block;
	height: 22px;
	margin: 12px;
	font-size: 13pt;
	box-sizing: border-box;
	cursor: pointer;
}

.main_query_h3_user_search_result:hover, .main_query_h3_holiday_search_result:hover {
	border-bottom: 1px solid #000;
}

.ava_box_search_result, .user_name_and_button_box_search_result {
	display: inline-block;
	vertical-align: middle;
}

.user_name_and_button_box_search_result {
	min-height: 75px;
	padding: 0 10px;
	width: calc(100% - 95px);
}

.ava_search_result {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	cursor: pointer;
}

.user_name_box_search_result {
	max-width: 100%;
	font-size: 11pt;
	margin: 5px 0;
}

.user_name_search_result {
	display: block;
	max-width: 100%;
	cursor: pointer;
	margin-left: 5px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button_box_search_result {
	position: relative;
	display: inline-block;
	width: 100%;
}

.button_container_search_result {
	display: inline-block;
	width: calc(100% - 35px);
}

.holiday_name_search_result {
	display: inline-block;
	color: #FE642E;
	cursor: pointer;
	font-size: 13pt;
}

.holiday_name_search_result:hover {
	color: #FF0000;
}

.holiday_date_search_result {
	font-size: 11pt;
	color: #013ADF;
	margin-top: 0px;
}

.turn_str_box {
	width: 100%;
	height: 30px;
	text-align: center;
}

.numberOfStr {
	display: inline-block;
	height: 20px;
	width: 20px;
	font-size: 14pt;
	margin: 5px 5px;
	cursor: pointer;
}

.arrow_turn {
	display: inline-block;
	height: 20px;
	width: 20px;
	font:  16pt sans-serif;
	margin: 5px 10px;
	cursor: pointer;
}

.current_str, .numberOfStr:hover, .arrow_turn:hover {
	color: #FF8000;
}

.search_friends_block {
	padding: 2px 6px;
	border-bottom: 1px solid #BDBDBD;
}

.search_friends_field {
	/* border-radius: 7px 0 0 7px; */
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    width: calc(100% - 18px); /* Ширина поля */
	height: 18px;
	background: url(/img/icon_search.png) no-repeat 0 50%;
	background-size: contain;
    vertical-align: top; /* Выравнивание по верху */
	padding: 0 0 0 20px;
	font: 12pt sans-serif;
}
   
.search_friends_submit {
    width: 10px; /* Ширина кнопки */
    height: 18px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	outline: none;
    background: url(/img/search_go.png) no-repeat 50% 50%; /* Параметры фона */
	cursor: pointer;
}

.profile_menu_fixed {
	position: fixed;
	top: 50px;
	background: #FFF;
	z-index: 2;
	width: calc(900px - 20px);
	border-bottom: 3px solid #0489B1;
}

@media screen and (max-width: 900px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}
	
	.profile_data {
		width: calc(100% - 200px);
	}

	.profile_menu_fixed {
		width: calc(100% - 20px);
	}
}

@media screen and (max-width: 700px) {

	.main_box {
		width: 100%;
		min-width: 320px;
		margin: 10px 0;
	}
	
	.profile_data {
		width: calc(100% - 150px);
		height: 100px;
	}
	
	.block_avatar {
		width: 150px;
		height: 150px;
	}
	
	.profile_button_box {
		width: calc(100% - 170px);
	}
	
	.p_content {
		min-height: calc(100vh - 321px);
	}
	
	.p_content > div {
		min-height: calc(100vh - 327px);
	}
	
	.field_add_about_self {
		min-height: calc(100vh - 358px);
	}

}

@media screen and (max-width: 500px) {
	
	.profile_name {
		font: bold 11pt sans-serif;
	}
	
	.profile_country_city_box {
		font: 10pt sans-serif;
	}
	
	.profile_country_city_caption {
		width: 50px;
	}
	
}

@media screen and (max-width: 550px) {
	
	.block_avatar {
		width: 100px;
		height: 100px;
	}
	
	.profile_data {
		width: calc(100% - 100px);
	}
	
	.profile_button_box {
		display: block;
		clear: both;
		/*height: 33px;*/
		width: 100%;
		margin: 5px 0px;
		bottom: 0px;
		text-align: center;
		vertical-align: top;
	}
	
	.p_content_box {
		width: 100%;
		position: relative;
		clear: both;
		padding-top: 0px;
		min-height: calc(100vh - 311px);
	}
	
	.p_content {
		min-height: calc(100vh - 261px);
	}
	
	.p_content > div {
		min-height: calc(100vh - 267px);
	}
	
	.field_add_about_self {
		min-height: calc(100vh - 348px);
	}
	
}

@media screen and (max-height: 480px) {
	
	.content_wrapper {
		min-height: calc(100vh - 82px);
	}
	
	.main_box {
		min-height: calc(100vh - 102px);
	}
	
	.p_content {
		min-height: calc(100vh - 351px);
	}
	
	.field_add_about_self {
		min-height: calc(100vh - 388px);
	}
	
}

@media screen and (max-width: 700px) and (max-height: 480px) {
	
	.p_content {
		min-height: calc(100vh - 302px);
	}
	
	.p_content > div {
		min-height: calc(100vh - 308px);
	}
	
	.field_add_about_self {
		min-height: calc(100vh - 338px);
	}
	
}

@media screen and (max-width: 550px) and (max-height: 480px) {
	
	.p_content {
		min-height: calc(100vh - 242px);
	}
	
	.p_content > div {
		min-height: calc(100vh - 248px);
	}
	
	/* .field_add_about_self {
		min-height: calc(100vh - 328px);
	} */
}

@media screen and (max-width: 491px) and (max-height: 480px) {
	
	.p_content {
		min-height: calc(100vh - 242px);
	}
	
	.p_content > div {
		min-height: calc(100vh - 248px);
	}
	
	.field_add_about_self {
		min-height: calc(100vh - 328px);
	}
}

@media screen and (max-width: 538px) {
	
	/* .holiday_fields_block_search_options_active {
		height: 111px !important;
	} */
}

/* @media screen and (max-width: 405px) {
	
	.profile_button {
		font: 9pt sans-serif;
		min-width: 68px;
	}
} */
	
}