.content_wrapper {
	position: relative;
	text-align: center;
	font-size: 0;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	display: inline-block;
	/*min-height: calc(100vh - 142px);*/
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px 0px;
	font-size: 12pt;
	overflow-y: hidden;
	font-size: 0;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	border-radius: 5px;
	background: #FFF;
}

.event_content_block {
	display: flex;
	flex-direction: column;
	font-size: 12pt;
}

.profile_user_block {
	display: flex;
	flex-direction: row;
	align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #4A589F;
}
.profile_user_ava {
	border-radius: 50%;
    height: 30px;
    width: 30px;
}

.profile_user_fullname_box {
	font-size: 11pt;
    padding: 0px 0px 0px 5px;
    word-break: break-all;
}

.profile_entity_name_container {
	font-size: 22pt;
	color: #2E2E2E;
	margin: 10px 0px;
}

.entity_date_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}

.entity_date_box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.entity_date_start, .entity_date_end {
	background: #EFF2FB;
    box-shadow: 0 1px 6px rgb(125 122 128);
    border-radius: 5px;
    padding: 10px;
    font-size: 14pt;
    color: #2E2E2E;
}

.date_hyphen {
	margin: 0px 7px;
	font-size: 16pt;
}

.entity_data_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.entity_data_row:nth-child(odd) {
	background: #DBE8F6;
}

.entity_data_row:nth-child(even) {
	background: #EFF2FB;
}

.entity_data_row:not(:last-child) {
	border-bottom: 1px solid #FFF;
}

.entity_data_list_container {
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 15px;
}

.entity_data_row_item_label {
	color: #5A489F;
	font-size: 14pt;
	min-width: 205px;
	width: 30%;
	padding: 10px;
	box-sizing: border-box;
	border-right: 1px solid #FFF;
}

.entity_data_row_item_value {
	width: 70%;
	padding: 10px;
	box-sizing: border-box;
	color: #2E2E2E;
}

.entity_guest_container {
	border-radius: 5px;
	box-sizing: border-box;
	border: 1px solid #0489B1;
	padding: 10px;
}

.entity_guest_title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #5A489F;
	font-size: 14pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #0489B1;
}

.entity_status_scheduled {
	color: #FF8000;
}

.entity_status_current {
	color: #0DD058;
}

.entity_status_completed {
	color: #0489B1;
}

.profile_entity_no_report_box {
	color: #6E6E6E;
	font-size: 14pt;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile_report_details_video_container {
	display: flex;
    justify-content: center; 
    width: 100%;
}

.profile_report_details_photo_container {
	display: flex;
    /* justify-content: center; */
    width: 100%;
    flex-wrap: wrap;
    /*text-align: center;*/
}

.profile_report_details_comment_container {
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.profile_entity_show_guest_button {
	display: inline-block;
	padding: 7px;
	margin-left: 10px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 11pt;
	transition: .2s;
	box-shadow: none;;
	color: #0489B1;
}

.profile_entity_show_guest_button:hover {
	box-shadow: 0 0 5px 1px rgb(4 137 177);
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.comment_field_container_visible {
		width: calc(100vw - 10px);
	}
}

@media screen and (max-width: 695px) {
	.entity_data_row_item_label {
		border-right: none;
		width: 100%;
	}

	.entity_data_row_item_value {
		padding-left: 40px;
		padding-top: 0px;
		width: 100%;
	}

	.create_event_field_value {
		padding-top: 0px;
		width: 100%;
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}