.content_wrapper {
	position: relative;
	text-align: center;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	display: flex;
	flex-direction: row;
	position: relative;
	min-height: calc(100vh - 122px);
	width: 1000px;
	text-align: left;
	padding: 10px 0px;
	margin: 0px auto;
	font-size: 12pt;
	overflow-y: hidden;
	border-radius: 5px;
}

.profile_menu_container, .file_menu_container {
	position: fixed;
	right: calc(100% - ((100% - 1000px) / 2) - 125px);
	width: 110px;
	padding: 5px;
	background: #EFF2FB;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	align-self: self-start;
	border-radius: 5px;
	margin-left: 5px;
	transition: .2s;
	z-index: 2;
}

.profile_menu_container ul, .file_menu_container ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.profile_menu_container li, .file_menu_container li {
	height: 30px;
    line-height: 30px;
    color: #5A489F;
    padding: 0px 5px;
}

.active_menu_item {
	background: #0489B1;
	color: #FFF !important;
}

.profile_menu_container li:hover:not(.active_menu_item), .file_menu_container li:hover:not(.active_menu_item) {
	background: #086A87;
	color: #FFF;
}

.profile_content_container, .file_content_container {
	margin-right: 5px;
	width: calc(100% - 165px);
	margin-left: auto;
	padding: 10px;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	border-radius: 5px;
}

.profile_content_container {
	background: #FFF;
}

.file_content_container {
	background: #F2F2F2;
}

.content_title {
	margin: 0px;
	text-align: center;
	color: #5A489F;
	display: none;
	width: calc(100% - 45px);
	background: #FFF;
	border-bottom: 1px solid #5A489F;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu_icon_container {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 18px;
	pointer-events: none;
	opacity: 0;
}

.menu_icon {
	height: 14px;
    width: 18px;
    cursor: pointer;
}

.close_menu_container {
	position: relative;
    right: 0px;
    top: 0px;
    text-align: right;
    height: 22px;
}

.close_menu_icon {
	height: 14px;
    width: 14px;
    margin: 4px 4px;
    cursor: pointer;
}

.menu_container_active {
	right: calc(100% - 120px) !important;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%) !important;
	border-radius: 0px;
}

.block_avatar {
	float: left;
    width: 200px;
    height: 200px;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar_image {
	/*height: inherit;
    width: inherit;*/
    /*border-radius: 50%;*/
}

.profile_data {
	vertical-align: top;
    font: 12pt sans-serif;
    float: right;
    width: calc(100% - 200px);
    height: 150px;
    position: relative;
}

.profile_name {
    font: bold 14pt sans-serif;
    word-break: break-all;
    margin: 5px 10px;
}

.profile_country_city_box {
	margin: 5px 10px;
}

.profile_button_box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    margin: 5px 10px;
    bottom: 0px;
    text-align: center;
    vertical-align: top;
    float: right;
    width: calc(100% - 220px);
}

.profile_button {
	/*display: inline-block;*/
    font: 10pt sans-serif;
    height: 22px;
    width: 125px;
    line-height: 22px;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0px;
    color: #FFF;
    background: #0489B1;
    transition: .3s;
    margin: 5px 5px;
    vertical-align: bottom;
}

.profile_button:hover {
    background: #086A87;
}

.unsubscribe_button {
	display: inline-block;
	font: 10pt sans-serif;
	height: 22px;
	width: 125px;
	line-height: 22px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px;
	margin: 5px 5px;
	border: 1px solid #E6E6F8;
	border-radius: 3px;
	transition: .3s;
	border: none;
	background: #EFF2F6;
	color: #0489B1;
}

.unsubscribe_button:hover {
	background: #C0D4EF;
}

.delete_friend_button {
	display: inline-block;
	font: 10pt sans-serif;
	font-stretch: semi-condensed;
	height: 22px;
	line-height: 22px;
	/*min-width: 120px;*/
	/*width: 125px;*/
	cursor: pointer;
	box-sizing: border-box;
	padding: 0px;
	margin: 5px 5px;
	border: 1px solid #E6E6F8;
	border-radius: 3px;
	transition: .3s;
	border: none;
	background: #EFF2F6;
	color: #0489B1;
	padding: 0px 5px;
}

.delete_friend_button:hover {
	background: #C0D4EF;
}

.profile_data_box {
	
}

.profile_content_box {
	width: 100%;
	clear: both;
	border-top: 3px solid #0489B1;
	/*border: 3px solid #0489B1;*/
}

.about_self {
	/*width: calc(100% - 10px);*/
	padding: 5px;
	clear: both;
	word-wrap: break-word;
	white-space: normal;
}

.about_self > p {
	margin: 2px 0;
    font: 11pt sans-serif;
}

.profile_submenu_event_button_block {
	border-bottom: 1px solid #BDBDBD;
}

.profile_user_block {
	display: flex;
	flex-direction: row;
	align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #BDBDBD;
}
.profile_user_ava {
	border-radius: 50%;
    height: 30px;
    width: 30px;
}

.profile_user_fullname_box {
	font-size: 11pt;
    padding: 0px 0px 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1020px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}

	.profile_menu_container, .file_menu_container {
		right: calc(100% - 145px);;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.profile_menu_container, .file_menu_container {
		right: calc(100% - 130px);;
	}
}

@media screen and (max-width: 850px) {
	.block_avatar {
		height: 150px;
		width: 150px;
		margin: 0px;
	}

	.profile_data {
	    width: calc(100% - 150px);
	}

	.profile_button_box {
	    width: calc(100% - 170px);
	    margin-bottom: 10px;
	}
}

@media screen and (max-width: 770px) {
	.profile_button_box {
	    width: calc(100% - 20px);
	    margin-top: 10px;
	    clear: both;
	}
}

@media screen and (max-width: 650px) {
	.main_box {
		width: 100%;
		padding: 0px;
		margin: 0px;
		min-height: calc(100vh - 102px);
	}

	.profile_menu_container, .file_menu_container {
		right: 100%;
		box-shadow: none;
	}

	.profile_content_container, .file_content_container {
		width: 100%;
		margin: 0px;
		/*padding-top: 0px;*/
		padding: 0px 5px 5px 5px;
	}

	.content_title {
		display: block;
		position: fixed;
		height: 25px;
		line-height: 25px;
		font-size: 12pt;
		padding: 10px 0px 10px 35px;
		z-index: 1;
	}

	.menu_icon_container {
		pointer-events: auto;
		opacity: 1;
		z-index: 2;
	}

	.content_block {
		margin-top: 51px;
	}

	.profile_submenu_button_block {
		padding: 0px 0px 5px 0px;
	}

	.profile_user_block {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.block_avatar {
		height: 120px;
		width: 120px;
	}

	.profile_data {
	    width: calc(100% - 120px);
	    height: auto;
	}
}

@media screen and (max-height: 480px) {
	.profile_menu_container, .file_menu_container {
		position: absolute;
	}

	.content_title {
		position: absolute;
	}
}