.content_wrapper {
	position: relative;
	text-align: center;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	position: relative;
	min-height: calc(100vh - 142px);
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px auto;
	font-size: 12pt;
	overflow-y: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	background: #FFF;
}

.block_avatar {
	float: left;
    width: 200px;
    height: 200px;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

.avatar_image {
	/*height: inherit;
    width: inherit;*/
    /*border-radius: 50%;*/
}

.profile_data {
	vertical-align: top;
    font: 12pt sans-serif;
    float: right;
    width: calc(100% - 200px);
    height: 150px;
    position: relative;
}

.profile_name {
    font: bold 14pt sans-serif;
    word-break: break-all;
    margin: 5px 10px;
}

.profile_country_city_box {
	margin: 5px 10px;
}

.profile_content_box {
	width: 100%;
	clear: both;
	border-top: 3px solid #0489B1;
	/*border: 3px solid #0489B1;*/
}

.about_self {
	/*width: calc(100% - 10px);*/
	padding: 5px;
	clear: both;
	word-wrap: break-word;
	white-space: normal;
}

.about_self > p {
	margin: 2px 0;
    font: 11pt sans-serif;
}

.add_button_about_self {
	display: block;
    float: right;
    color: #848484;
    text-decoration: underline;
    font: 10pt sans-serif;
    font-style: italic;
    cursor: pointer;
    margin: 3px 3px 0 0;
}

.field_add_about_self {
	width: calc(100% - 6px);
	padding: 5px;
	min-height: calc(100vh - 390px);
	box-sizing: border-box;
	border-radius: 3px;
	margin: 3px;
	resize: none;
}

.button_block_about_self {
	width: 100%;
	height: 20px;
}

.cancel_button_about_self, .save_button_about_self {
	text-decoration: underline;
	font: 11pt sans-serif;
	font-style: italic;
	cursor: pointer;
	float: right;
	height: 20px;
	margin: 0 10px;
}

.cancel_button_about_self {
	color: #E34525;
}

.save_button_about_self {
	color: #03A752;
}

.cancel_button_about_self:hover {
	color: #9D1E04;
}

.save_button_about_self:hover {
	color: #1B7948;
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 850px) {
	.block_avatar {
		height: 150px;
		width: 150px;
	}

	.profile_data {
	    width: calc(100% - 150px);
	}

	.field_add_about_self {x;
		min-height: calc(100vh - 340px);
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 10px);
		padding: 10px 5px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.field_add_about_self {x;
		min-height: calc(100vh - 330px);
	}
}

@media screen and (max-height: 640px) {
	.main_box {
		min-height: calc(100vh - 122px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 600px) {
	.block_avatar {
		height: 120px;
		width: 120px;
	}

	.profile_data {
	    width: calc(100% - 120px);
	    height: auto;
	}

	.field_add_about_self {x;
		min-height: calc(100vh - 300px);
	}
}

@media screen and (max-height: 480px) {
	.main_box {
		min-height: calc(100vh - 102px);
		margin-top: 0px;
		margin-bottom: 0px;
	}
}