.content_wrapper {
	position: relative;
	text-align: center;
	position: relative;
	overflow-y: hidden;
}

.main_box{
	position: relative;
/*	min-height: calc(100vh - 142px);*/
	width: 900px;
	text-align: left;
	padding: 10px;
	margin: 10px auto;
	font-size: 12pt;
	overflow-y: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%);
	background: #FFF;
}

.article_section_container {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	border-radius: 5px;
	transition: .2s;
	padding: 7px;
}

.article_section_container:hover {
	background: #EFFBF8;
}

.article_section_container_anchor {
	display: block;
	border-bottom: 1px solid #BDBDBD;
}

.article_section_image_container {
	display: flex;
    max-height: 250px;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.article_section_image {
	max-height: 100%;
	max-width: 100%;
	border-radius: 5px;
}

.article_section_content {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	width: 60%;
}

.article_section_content > h2 {
	margin-top: 0px;
}

.article_section_description {
	font-style: italic;
}

.search_article_block {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 2px 0;
	margin-bottom: 10px;
	border-top: 1px solid #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
	height: 18px;
}

.search_article_field {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
	background: url(/img/icon_search.png) no-repeat 0 50%;
	background-size: contain;
    vertical-align: top; /* Выравнивание по верху */
	padding: 0 0 0 20px;
	font: 12pt sans-serif;
	flex: 1 1 auto;
}

.article_section_title > h1 {
    text-align: center;
    font-size: 16pt;
    color: #4A589F;
    padding: 3px;
/*    border-bottom: 1px solid #4A589F;*/
    margin: 7px 0 0 0;
}

/*.back_to_list_container {
	margin-bottom: 10px;
}*/

.back_to_list {
    height: 16px;
    font-size: 11pt;
    cursor: pointer;
    margin: 1px 0;
    box-sizing: border-box;
}

.back_to_list > a {
    color: #5A489F;
}

.article_title {
	color: #2E2E2E;
}

.article_description > div {
	word-break: break-word;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
}

.article_description > div:not(:last-child) {
	margin-bottom: 15px;
}

.article_img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.article_img_container > div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.article_img_container > div > img {
    max-height: 400px;
}

.img_title {
	font-style: italic;
	font-size: 10pt;
	color: #848484;
	margin-top: 5px;
}

.img_source {
	font-style: italic;
	font-size: 10pt;
	margin-top: 5px;
}

.img_source > a {
	color: #848484;
}

.img_source > a:hover {
	color: #0489B1;
}

.article_content_container {
	border-bottom: 1px solid #BDBDBD;
	padding-bottom: 5px;
}

.article_details_comment_container {
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.article_quote_text {
	font-style: italic;
	padding: 0 15px;
	margin: 0px;
	line-height: 1.5
}

.article_list_container > li:not(:last-child) {
	margin-bottom: 5px;
}

.italic_word {
	font-style: italic;
}

@media screen and (max-width: 920px) {
	.main_box {
		width: calc(100% - 40px);
		padding: 10px 20px;
		box-shadow: none;
	}
}

@media screen and (max-width: 850px) {
	.block_avatar {
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 790px) {
	.main_box {
		width: calc(100% - 20px);
		padding: 10px 10px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 570px) {

	.article_section_image_container {
		max-height: unset;
		width: 100%;
	}

	.article_section_content {
		width: 100%;
	}

	.article_section_container {
		flex-direction: column;
	}

	.article_section_content {
		margin-left: 0px;
		margin-top: 5px;
	}

	.article_section_content > h2 {
	margin-bottom: 10px;
}
}

@media screen and (max-height: 640px) {
	.main_box {
/*		min-height: calc(100vh - 122px);*/
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

@media screen and (max-height: 480px) {
	.main_box {
/*		min-height: calc(100vh - 102px);*/
		margin-top: 0px;
		margin-bottom: 0px;
	}
}